Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Move FidesGlobal type to lib/consent-types
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Format
  clients/fides-js/src/lib/consent-types.ts
Due: none

Fix- adds back missing option param (#4749)
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

Deployed 0df6e55bf to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update generated docs to latest
  clients/fides-js/docs/interfaces/Fides.md
Due: none

Formatting
  clients/fides-js/src/components/fides.css
Due: none

PROD-1691 Implement dynamic CMP overrides (#4743)
  CHANGELOG.md
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/style-utils.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Fix admin-ui build
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Deployed 0946885f6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add placeholder docs for fides_primary_color
  clients/fides-js/src/docs/fides-options.ts
Due: none

Tidy up some other lingering docs that are replaced by src/docs
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
Due: none

Format, lint
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Hide incomplete docs for fides_primary_color
  clients/fides-js/src/docs/fides-options.ts
Due: none

Update TODO
  clients/fides-js/src/docs/fides-options.ts
Due: none

Deployed 6e9aa4f48 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/development/development_tips/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add new Cypress tests for experience config form (#4747)
  clients/admin-ui/cypress/e2e/locations-regulations.cy.ts
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/experienceConfig.json
  clients/admin-ui/cypress/fixtures/privacy-notices/list.json
  clients/admin-ui/cypress/support/commands.ts
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
Due: admin-ui

PROD-1714-When-CMP-cannot-be-dismissed-page-content-should-not-scroll-overlay-should-appear (#4748)
  CHANGELOG.md
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/ui-utils.ts
  docs/fides/docs/css/fides.css
Due: none

Deployed 0abceb3a9 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update Cookie House to support for additional locations (Canada, Quebec, EEA) and a "property_id" override
  clients/sample-app/src/components/GeolocationSelect/index.tsx
  clients/sample-app/src/components/Home/index.tsx
  clients/sample-app/src/pages/index.tsx
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Initial PR - test pass erasure not
  data/saas/config/adyen_config.yml
  data/saas/dataset/adyen_dataset.yml
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: backend

Added a skip to get this test to pass for now
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

Update Cookie House to support for additional locations (Canada, Quebec, EEA) and a "property_id" override (#4750)
  CHANGELOG.md
  clients/sample-app/src/components/GeolocationSelect/index.tsx
  clients/sample-app/src/components/Home/index.tsx
  clients/sample-app/src/pages/index.tsx
Due: none

Deployed 09aa16db4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/css/fides.css
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix language switcher with queryParams + e2e tests
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-context.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Move notice about GVL/AC vendors into Choose vendors page instead
  clients/admin-ui/src/features/datamap/Datamap.tsx
  clients/admin-ui/src/features/datamap/GVLDatamapNotice.tsx
  clients/admin-ui/src/pages/consent/configure/add-vendors.tsx
Due: admin-ui

fix comment
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Fix unused import
  clients/admin-ui/src/pages/consent/configure/add-vendors.tsx
Due: admin-ui

Format & lint
  clients/admin-ui/src/features/datamap/Datamap.tsx
  clients/admin-ui/src/pages/consent/configure/add-vendors.tsx
Due: admin-ui

Update CHANGELOG
  CHANGELOG.md
Due: none

Updated CHANGELOG.md for release 2.33.0
  CHANGELOG.md
Due: none

undefined instead of null to start out
  clients/fides-js/src/lib/i18n/i18n-context.tsx
Due: none

fix language switcher with queryParams + e2e tests (#4751)
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-context.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Updated CHANGELOG.md for release 2.33.0 (#4753)
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
