Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Rename CookieKeyConsent -> NoticeConsent
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/integrations/gtm.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/shared-consent-utils.ts
  clients/fides-js/src/lib/tcf/types.ts
Due: none

Update references to CookieKeyConsent in other projects
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/features/consent/helpers.ts
Due: admin-ui, privacy-center

Rename makeCookieKeyConsent -> makeNoticeConsent
  clients/privacy-center/__tests__/features/consent/helpers.test.ts
  clients/privacy-center/components/consent/ConfigDrivenConsent.tsx
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
  clients/privacy-center/features/consent/helpers.ts
Due: privacy-center

Update interface to be "FidesGlobal" instead of "Fides"
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Rename CookieIdentity -> FidesIdentity
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Rename CookieMeta -> FidesJSMeta
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Rename FidesIdentity -> FidesJSIdentity
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Backend fix to default custom fields to required
  src/fides/api/schemas/privacy_center_config.py
Due: backend

PROD-1875 Add script to recompile after code changes
  clients/fides-js/README.md
  clients/fides-js/package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

replaced adyen icon with proper exported icon
  data/saas/icon/adyen.svg
Due: none

update tests; gate submitting requests behind plus; update request endpoint
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/src/features/privacy-requests/PrivacyRequestsContainer.tsx
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
Due: admin-ui

Remove rounded corners and accessibility highlights on reporting column headers (#4730)
  CHANGELOG.md
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/common/table/v2/util.ts
Due: admin-ui

Deployed 1e32cb9b5 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

restrict view of UI depending on role
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/privacy-requests/PrivacyRequestsContainer.tsx
Due: admin-ui

PROD-1875 Add script to recompile after code changes (#4744)
  CHANGELOG.md
  clients/fides-js/README.md
  clients/fides-js/package.json
Due: none

Deployed 6703cb360 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

remove comment
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
Due: admin-ui

Update a few TODOs
  clients/fides-js/src/docs/fides.ts
Due: none

Format, lint, etc.
  clients/fides-js/package.json
  clients/fides-js/src/lib/events.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Restore CORS domain regex to domains page (#4742)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Submit privacy requests from admin UI (#4738)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-requests/privacy-center-config.json
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/common/InfoBox.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/privacy-requests/PrivacyRequestsContainer.tsx
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequest.tsx
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequestForm.tsx
  clients/admin-ui/src/features/privacy-requests/form/helpers.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ConsentRequestCreate.ts
  clients/admin-ui/src/types/api/models/IdentityInputs.ts
  clients/admin-ui/src/types/api/models/PrivacyCenterConfig.ts
  clients/admin-ui/src/types/api/models/PrivacyRequestCreate.ts
  clients/admin-ui/src/types/api/models/PrivacyRequestOption.ts
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  clients/admin-ui/src/types/api/models/fides__api__schemas__privacy_center_config__CustomPrivacyRequestField.ts
  clients/admin-ui/src/types/api/models/fides__api__schemas__redis_cache__CustomPrivacyRequestField.ts
  src/fides/api/schemas/privacy_center_config.py
Due: backend, admin-ui

Deployed ba35daa5d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

add button for deleting cookie. tweak styles
  clients/fides-js/src/components/fides.css
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Menu styling and functionality
  clients/fides-js/src/components/Button.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/MenuItem.tsx
  clients/fides-js/src/components/fides.css
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

create simple i18n context for updating state
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-context.tsx
  clients/fides-js/src/lib/renderOverlay.tsx
  clients/fides-js/src/lib/tcf/renderOverlay.tsx
Due: none

add cypress e2e test
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

load in available locales
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

fix and update unit tests
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
Due: none

map available locales to languages for menu display
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
Due: none

updated docs
  CHANGELOG.md
  clients/fides-js/README.md
Due: none

several fixes based on tests and PR comments
  clients/fides-js/README.md
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/MenuItem.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-context.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

rename properties for consistency
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
Due: none

Fix: move cell styles outside of `article`
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
Due: admin-ui

Fix: move cell styles outside of `article` (#4746)
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
Due: admin-ui

Deployed 69379bfe7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
