Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

CSS fixes for mobile preview mode
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Changes based on PR feedback
  clients/privacy-center/__tests__/common/property-id.test.ts
  clients/privacy-center/common/property-id.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Updating change log
  CHANGELOG.md
Due: none

Adding property ID support to fides.js (#4676)
  CHANGELOG.md
  clients/fides-js/src/services/api.ts
  clients/privacy-center/__tests__/common/property-id.test.ts
  clients/privacy-center/common/property-id.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Preview components in admin UI (#4650)
  clients/admin-ui/.gitignore
  clients/admin-ui/package.json
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/package-lock.json
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

fix type error (name not provided on initial config values)
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

Fixes for experience config form (#4666)
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/types/api/models/ConsentReportingSchema.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/Location.ts
  clients/admin-ui/src/types/api/models/LocationGroup.ts
  clients/admin-ui/src/types/api/models/LocationRegulationBase.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
Due: admin-ui

keep canada experiences disabled
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Temporarily add new translation JSONs
  clients/fides-js/src/lib/i18n/locales/ar/new.json
  clients/fides-js/src/lib/i18n/locales/bg/new.json
  clients/fides-js/src/lib/i18n/locales/bs/new.json
  clients/fides-js/src/lib/i18n/locales/ca/new.json
  clients/fides-js/src/lib/i18n/locales/cs/new.json
  clients/fides-js/src/lib/i18n/locales/da/new.json
  clients/fides-js/src/lib/i18n/locales/de/new.json
  clients/fides-js/src/lib/i18n/locales/el/new.json
  clients/fides-js/src/lib/i18n/locales/es-MX/new.json
  clients/fides-js/src/lib/i18n/locales/es/new.json
  clients/fides-js/src/lib/i18n/locales/et/new.json
  clients/fides-js/src/lib/i18n/locales/eu/new.json
  clients/fides-js/src/lib/i18n/locales/fi/new.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/new.json
  clients/fides-js/src/lib/i18n/locales/fr/new.json
  clients/fides-js/src/lib/i18n/locales/gl/new.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/new.json
  clients/fides-js/src/lib/i18n/locales/hr/new.json
  clients/fides-js/src/lib/i18n/locales/hu/new.json
  clients/fides-js/src/lib/i18n/locales/it/new.json
  clients/fides-js/src/lib/i18n/locales/ja/new.json
  clients/fides-js/src/lib/i18n/locales/lt/new.json
  clients/fides-js/src/lib/i18n/locales/lv/new.json
  clients/fides-js/src/lib/i18n/locales/mt/new.json
  clients/fides-js/src/lib/i18n/locales/nl/new.json
  clients/fides-js/src/lib/i18n/locales/no/new.json
  clients/fides-js/src/lib/i18n/locales/pl/new.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/new.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/new.json
  clients/fides-js/src/lib/i18n/locales/ro/new.json
  clients/fides-js/src/lib/i18n/locales/ru/new.json
  clients/fides-js/src/lib/i18n/locales/sk/new.json
  clients/fides-js/src/lib/i18n/locales/sl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/new.json
  clients/fides-js/src/lib/i18n/locales/sv/new.json
  clients/fides-js/src/lib/i18n/locales/tr/new.json
  clients/fides-js/src/lib/i18n/locales/uk/new.json
  clients/fides-js/src/lib/i18n/locales/zh/new.json
Due: none

Swap in our message IDs
  clients/fides-js/src/lib/i18n/locales/ar/new.json
  clients/fides-js/src/lib/i18n/locales/bg/new.json
  clients/fides-js/src/lib/i18n/locales/bs/new.json
  clients/fides-js/src/lib/i18n/locales/ca/new.json
  clients/fides-js/src/lib/i18n/locales/cs/new.json
  clients/fides-js/src/lib/i18n/locales/da/new.json
  clients/fides-js/src/lib/i18n/locales/de/new.json
  clients/fides-js/src/lib/i18n/locales/el/new.json
  clients/fides-js/src/lib/i18n/locales/es-MX/new.json
  clients/fides-js/src/lib/i18n/locales/es/new.json
  clients/fides-js/src/lib/i18n/locales/et/new.json
  clients/fides-js/src/lib/i18n/locales/eu/new.json
  clients/fides-js/src/lib/i18n/locales/fi/new.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/new.json
  clients/fides-js/src/lib/i18n/locales/fr/new.json
  clients/fides-js/src/lib/i18n/locales/gl/new.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/new.json
  clients/fides-js/src/lib/i18n/locales/hr/new.json
  clients/fides-js/src/lib/i18n/locales/hu/new.json
  clients/fides-js/src/lib/i18n/locales/it/new.json
  clients/fides-js/src/lib/i18n/locales/ja/new.json
  clients/fides-js/src/lib/i18n/locales/lt/new.json
  clients/fides-js/src/lib/i18n/locales/lv/new.json
  clients/fides-js/src/lib/i18n/locales/mt/new.json
  clients/fides-js/src/lib/i18n/locales/nl/new.json
  clients/fides-js/src/lib/i18n/locales/no/new.json
  clients/fides-js/src/lib/i18n/locales/pl/new.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/new.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/new.json
  clients/fides-js/src/lib/i18n/locales/ro/new.json
  clients/fides-js/src/lib/i18n/locales/ru/new.json
  clients/fides-js/src/lib/i18n/locales/sk/new.json
  clients/fides-js/src/lib/i18n/locales/sl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/new.json
  clients/fides-js/src/lib/i18n/locales/sv/new.json
  clients/fides-js/src/lib/i18n/locales/tr/new.json
  clients/fides-js/src/lib/i18n/locales/uk/new.json
  clients/fides-js/src/lib/i18n/locales/zh/new.json
Due: none

Merge new strings into catalogs
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Delete temporary files
  clients/fides-js/src/lib/i18n/locales/ar/new.json
  clients/fides-js/src/lib/i18n/locales/bg/new.json
  clients/fides-js/src/lib/i18n/locales/bs/new.json
  clients/fides-js/src/lib/i18n/locales/ca/new.json
  clients/fides-js/src/lib/i18n/locales/cs/new.json
  clients/fides-js/src/lib/i18n/locales/da/new.json
  clients/fides-js/src/lib/i18n/locales/de/new.json
  clients/fides-js/src/lib/i18n/locales/el/new.json
  clients/fides-js/src/lib/i18n/locales/es-MX/new.json
  clients/fides-js/src/lib/i18n/locales/es/new.json
  clients/fides-js/src/lib/i18n/locales/et/new.json
  clients/fides-js/src/lib/i18n/locales/eu/new.json
  clients/fides-js/src/lib/i18n/locales/fi/new.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/new.json
  clients/fides-js/src/lib/i18n/locales/fr/new.json
  clients/fides-js/src/lib/i18n/locales/gl/new.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/new.json
  clients/fides-js/src/lib/i18n/locales/hr/new.json
  clients/fides-js/src/lib/i18n/locales/hu/new.json
  clients/fides-js/src/lib/i18n/locales/it/new.json
  clients/fides-js/src/lib/i18n/locales/ja/new.json
  clients/fides-js/src/lib/i18n/locales/lt/new.json
  clients/fides-js/src/lib/i18n/locales/lv/new.json
  clients/fides-js/src/lib/i18n/locales/mt/new.json
  clients/fides-js/src/lib/i18n/locales/nl/new.json
  clients/fides-js/src/lib/i18n/locales/no/new.json
  clients/fides-js/src/lib/i18n/locales/pl/new.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/new.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/new.json
  clients/fides-js/src/lib/i18n/locales/ro/new.json
  clients/fides-js/src/lib/i18n/locales/ru/new.json
  clients/fides-js/src/lib/i18n/locales/sk/new.json
  clients/fides-js/src/lib/i18n/locales/sl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/new.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/new.json
  clients/fides-js/src/lib/i18n/locales/sv/new.json
  clients/fides-js/src/lib/i18n/locales/tr/new.json
  clients/fides-js/src/lib/i18n/locales/uk/new.json
  clients/fides-js/src/lib/i18n/locales/zh/new.json
Due: none

Sort JSON keys
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Fix stray TODO in es JSON
  clients/fides-js/src/lib/i18n/locales/es/messages.json
Due: none

Format
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Increase max size for fides.js and fides-tcf.js (again)
  clients/fides-js/rollup.config.mjs
Due: none

Fides con 122 simon data erasure connector (#4552)
  CHANGELOG.md
  data/saas/config/simon_data_config.yml
  data/saas/dataset/simon_data_dataset.yml
  data/saas/icon/simon_data.svg
  tests/fixtures/saas/simon_data_fixtures.py
  tests/ops/integration_tests/saas/test_simon_data_task.py
Due: none

Deployed 92c9f52c1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Remove "X" placeholder from retention_period_days string
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Amend the ru translation for vendors_count
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
Due: none

Fix Arabic translation for vendors count
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
Due: none

Change format of cookie disclosure intro
  clients/fides-js/src/components/tcf/InitialLayerAccordion.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
Due: none

Remove ${name} placeholder from cookie disclosure intro string
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Multi-value support for custom privacy request fields
  clients/admin-ui/src/features/privacy-requests/ApprovePrivacyRequestModal.tsx
  clients/admin-ui/src/features/privacy-requests/SubjectIdentities.tsx
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/util/saas_util.py
  tests/fixtures/saas/test_data/saas_example_config.yml
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/models/test_privacy_request.py
  tests/ops/service/connectors/test_saas_queryconfig.py
  tests/ops/util/test_saas_util.py
Due: backend, admin-ui

Remove placeholder from cookie disclosure "non cookie" string
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Close out some TODOs!
  clients/fides-js/src/components/tcf/EmbeddedVendorList.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
Due: none

Update vendors_count to remove placeholder
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Remove it.only
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Format
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Update TCF tests
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
Due: privacy-center

fix CSS not applying to modal
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Add failing test for GVL translations mismatch
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
Due: none

Add safer handling of experience/gvl translations mismatch
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Fix modal preview not being shown/shown in the wrong position (#4688)
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Format & lint!
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Handle a mismatch in translations between experience & GVL translations (#4689)
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add ability to support partial matches for GVL translations
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
