Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Adding ability to delete properties (#4708)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/properties.cy.ts
  clients/admin-ui/cypress/fixtures/properties/properties.json
  clients/admin-ui/cypress/fixtures/properties/property.json
  clients/admin-ui/cypress/fixtures/scopes/roles-to-scopes.json
  clients/admin-ui/cypress/fixtures/user-management/permissions.json
  clients/admin-ui/src/features/properties/AddPropertyButton.tsx
  clients/admin-ui/src/features/properties/DeletePropertyModal.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  src/fides/api/alembic/migrations/versions/7799269e7078_remove_cascade_delete_from_property.py
  src/fides/api/models/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Deployed d09880774 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Removing unused import
  src/fides/api/models/privacy_request.py
Due: backend

Fixing downrev
  src/fides/api/alembic/migrations/versions/ffca47b43275_add_encryption_key_to_privacy_request.py
Due: backend

less invasive focus-visible state
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixes for issues Adrian caught!
  CHANGELOG.md
  tests/fixtures/saas/iterable_fixtures.py
Due: none

Fixing tests
  src/fides/api/models/privacy_request.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/models/test_privacy_request.py
Due: backend

WIP: Use typedoc to generate SDK reference docs for main FidesJS API interfaces (Fides & Fides events)
  clients/fides-js/docs/README.md
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesEvent.md
  clients/fides-js/package.json
  clients/fides-js/src/types/index.ts
  clients/package-lock.json
Due: none

Tweak some formatting: titles, etc.
  clients/fides-js/docs/README.md
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesEvent.md
  clients/fides-js/package.json
  clients/fides-js/src/types/index.ts
Due: none

Ignore autogenerated docs/ folder for Prettier
  clients/fides-js/.prettierignore
Due: none

refactor tests with shared fn to override expereience
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Large WIP refactor - breaking increment.
  src/fides/api/alembic/migrations/versions/b21343172e81_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/common_exceptions.py
  src/fides/api/graph/config.py
  src/fides/api/graph/data_type.py
  src/fides/api/graph/execution.py
  src/fides/api/graph/graph.py
  src/fides/api/graph/traversal.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/base_connector.py
  src/fides/api/service/connectors/dynamodb_connector.py
  src/fides/api/service/connectors/http_connector.py
  src/fides/api/service/connectors/mongodb_connector.py
  src/fides/api/service/connectors/query_config.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/service/connectors/saas_query_config.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/service/saas_request/override_implementations/appsflyer_request_overrides.py
  src/fides/api/service/saas_request/override_implementations/firebase_auth_request_overrides.py
  src/fides/api/service/saas_request/override_implementations/iterate_request_overrides.py
  src/fides/api/service/saas_request/override_implementations/mailchimp_request_overrides.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  src/fides/api/service/saas_request/override_implementations/statsig_enterprise_request_overrides.py
  src/fides/api/task/graph_task.py
Due: backend

update changelog
  CHANGELOG.md
Due: none

Sets GPP applicable sections appropriately when user is in a state outside of GPP jurisdiction (#4727)
  CHANGELOG.md
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/gpp/us-notices.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Deployed 9ce32696b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

PROD-1863 Clean up table border lines (#4733)
  CHANGELOG.md
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

Deployed b06bca27d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Refactor so individual task functions can be run multiple times - if task is completed, we just look for downstream nodes, and don't actually run the access/consent/erasure task.
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
Due: backend

Use separate types/ files for the main documented FidesJS interfaces
  clients/fides-js/docs/README.md
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesEvent.md
  clients/fides-js/package.json
  clients/fides-js/src/lib/events.ts
  clients/fides-js/src/types/fides-event.ts
  clients/fides-js/src/types/fides-options.ts
  clients/fides-js/src/types/fides.ts
  clients/fides-js/src/types/index.ts
Due: none

First pass
  data/saas/config/adyen_config.yml
  data/saas/dataset/adyen_dataset.yml
  data/saas/icon/adyen.svg
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

Make the methods for building access, erasure, and consent tasks more dry - set the task to pending when it is being queued rather than inside the task.
  src/fides/api/graph/execution.py
  src/fides/api/models/privacy_request.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
Due: backend

Dry up some logging.
  src/fides/api/models/privacy_request.py
  src/fides/api/task/execute_tasks.py
Due: backend

Document supported FidesOptions
  clients/fides-js/docs/README.md
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesOptions.md
  clients/fides-js/src/types/fides-options.ts
  clients/fides-js/src/types/fides.ts
  clients/fides-js/src/types/index.ts
Due: none

Finish V0.9 of FidesJS SDK Reference
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesEvent.md
  clients/fides-js/src/types/fides-event.ts
  clients/fides-js/src/types/fides.ts
Due: none

Fix FidesOptions docs
  clients/fides-js/docs/interfaces/FidesOptions.md
  clients/fides-js/src/types/fides-options.ts
Due: none

Fix a stray == into a ===
  clients/fides-js/src/types/fides-event.ts
Due: none

Update /docs pages
  clients/fides-js/docs/interfaces/FidesEvent.md
Due: none

submit privacy requests from admin UI
  clients/admin-ui/src/features/common/InfoBox.tsx
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequest.tsx
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequestForm.tsx
  clients/admin-ui/src/features/privacy-requests/form/helpers.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ConsentRequestCreate.ts
  clients/admin-ui/src/types/api/models/IdentityInputs.ts
  clients/admin-ui/src/types/api/models/PrivacyCenterConfig.ts
  clients/admin-ui/src/types/api/models/PrivacyRequestCreate.ts
  clients/admin-ui/src/types/api/models/PrivacyRequestOption.ts
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  clients/admin-ui/src/types/api/models/fides__api__schemas__privacy_center_config__CustomPrivacyRequestField.ts
  clients/admin-ui/src/types/api/models/fides__api__schemas__redis_cache__CustomPrivacyRequestField.ts
Due: admin-ui

Instead of queuing from the root on reprocessing, queue only the existing ready tasks that are incomplete. This is similar to how we do it now.
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
Due: backend

Remove dask.
  pyproject.toml
  requirements.txt
Due: none

Cleanup pass -
  src/fides/api/graph/analytics_events.py
  src/fides/api/graph/config.py
  src/fides/api/graph/execution.py
  src/fides/api/graph/graph_differences.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/fides_connector.py
  src/fides/api/service/connectors/manual_connector.py
  src/fides/api/service/connectors/saas_query_config.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
  tests/ops/graph/test_graph_analytics_events.py
  tests/ops/graph/test_graph_differences.py
Due: backend

update Cypress tests
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-requests/privacy-center-config.json
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequest.tsx
  clients/admin-ui/src/features/privacy-requests/form/helpers.ts
Due: admin-ui

Fix reprocessing bug. Errored tasks need to be marked as pending
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
Due: backend

Bump downrev
  src/fides/api/alembic/migrations/versions/b21343172e81_privacyrequesttask.py
Due: backend

Move some TraversalNodes to ExecutionNodes -
  src/fides/api/service/connectors/manual_connector.py
  src/fides/api/service/connectors/manual_webhook_connector.py
  tests/fixtures/saas/test_data/planet_express/planet_express_functions.py
  tests/ops/graph/graph_test_util.py
Due: backend
