Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Build a `fides-types.d.ts` type declaration file to include alongside our FidesJS developer docs (#4772)
  CHANGELOG.md
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/docs/fides-event.ts
  clients/fides-js/src/docs/fides-options.ts
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/docs/index.ts
  clients/fides-js/tsconfig.json
Due: none

Deployed 18fd8b719 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

changes
  data/saas/config/openweb_config.yml
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
Due: backend

changelog
  CHANGELOG.md
Due: none

Add erasure_runner_tester and start testing sql_task tests with both DSR 2.0 and DSR 3.0 -
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/task/graph_runners.py
  tests/conftest.py
  tests/fixtures/saas/iterable_fixtures.py
  tests/ops/graph/graph_test_util.py
  tests/ops/integration_tests/test_enabled_actions.py
  tests/ops/integration_tests/test_sql_task.py
  tests/ops/task/test_create_request_tasks.py
  tests/ops/task/test_graph_task.py
Due: backend

Updating pre_process_input_data to deduplicate results
  requirements.txt
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/service/connectors/saas_query_config.py
  src/fides/api/task/graph_task.py
  src/fides/api/util/collection_util.py
  tests/ops/integration_tests/saas/test_square_task.py
  tests/ops/task/test_graph_task.py
Due: backend

Fixing connector runner
  tests/ops/integration_tests/saas/connector_runner.py
Due: none

Work on address mongo tests to run with both DSR 2.0 and DSR 3.0. Some very destructive tests only run with DSR 3.0.
  tests/ops/integration_tests/test_mongo_task.py
  tests/ops/integration_tests/test_sql_task.py
Due: none

mid
  data/saas/config/openweb_config.yml
  data/saas/dataset/openweb_dataset.yml
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: backend

mid
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Fixing privacy request detail page
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-requests/list.json
  clients/admin-ui/src/features/common/PII.tsx
  clients/admin-ui/src/features/common/PIIToggle.tsx
Due: admin-ui

Fixing bug in consent graph if no actual nodes - this was caught when running several of the e2e tests in test_request_runner_service with both schedulers.
  src/fides/api/task/create_request_tasks.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Fixing test runner
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_stripe_task.py
Due: none

some fixes
  data/saas/config/openweb_config.yml
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: backend

closer
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
Due: backend

Additional front-end cleanup
  clients/admin-ui/src/features/common/PII.tsx
  clients/admin-ui/src/features/privacy-requests/ApprovePrivacyRequestModal.tsx
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
  clients/privacy-center/types/config.ts
Due: admin-ui, privacy-center

Adding integration test for custom identities
  data/dataset/postgres_example_test_extended_dataset.yml
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
  src/fides/api/util/collection_util.py
  src/fides/data/sample_project/postgres_sample.sql
  tests/fixtures/application_fixtures.py
  tests/fixtures/postgres_fixtures.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Fix output of privacy request.get_raw_masking_counts()
  tests/ops/task/test_create_request_tasks.py
Due: none

Fixing tests
  tests/ops/api/v1/endpoints/test_dataset_endpoints.py
  tests/ops/service/connectors/test_saas_queryconfig.py
Due: none

Disabling more flaky tests
  tests/fixtures/saas/adyen_fixtures.py
  tests/fixtures/saas/iterable_fixtures.py
  tests/ops/integration_tests/saas/test_aircall_task.py
  tests/ops/integration_tests/saas/test_iterable_task.py
  tests/ops/integration_tests/saas/test_talkable_task.py
Due: none

Front-end fixes
  clients/admin-ui/src/features/privacy-requests/ApprovePrivacyRequestModal.tsx
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
  clients/privacy-center/config/config.json
Due: admin-ui, privacy-center

Fixing smoke test
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
  src/fides/data/sample_project/privacy_center/config/config.json
Due: backend

Work on execution tests which have some edge cases with execution -
  src/fides/api/task/graph_runners.py
  tests/ops/integration_tests/test_execution.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Build a consent runner tester that allows testing both DSR 2.0 and 3.0
  src/fides/api/models/privacy_request.py
  src/fides/api/task/graph_task.py
  tests/conftest.py
  tests/ops/integration_tests/saas/test_mailchimp_transactional_task.py
Due: backend

Update wunderkind to use new consent runner that uses both schedulers.
  tests/ops/integration_tests/saas/test_wunderkind_task.py
Due: none

advance
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Marc's instantiy
  data/saas/config/openweb_config.yml
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Saving access urls meant mocks needed to take this into account.
  tests/fixtures/application_fixtures.py
  tests/ops/integration_tests/test_enabled_actions.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: none

Fixing smoke test assertion
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
Due: none

Fixing Adyen fixtures
  tests/fixtures/saas/adyen_fixtures.py
Due: none

Updating change log
  CHANGELOG.md
Due: none

Fixing privacy request detail page (#4775)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-requests/list.json
  clients/admin-ui/src/features/common/PII.tsx
  clients/admin-ui/src/features/common/PIIToggle.tsx
Due: admin-ui

Deployed 53bebf11b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

latest
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Update new request tasks tests to be more repeatable so they can regenerate the data they destroy and can be run more than once
  tests/ops/integration_tests/test_sql_task.py
  tests/ops/service/privacy_request/test_request_runner_service.py
  tests/ops/task/test_create_request_tasks.py
Due: none

fixes and changes
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Test Connection Working
  data/saas/config/openweb_config.yml
Due: none

Connection Test working - progress on erasure
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none
