Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Improve flaky test
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Fix formatting
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Add tests for fides_locale override and auto_detect_language=false
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/support/commands.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Add (partial) translations to TCF experience fixture
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Localize remaining banner components
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Start localizing notice toggles
  clients/fides-js/src/components/notices/NoticeToggles.tsx
Due: none

Rename "test_banner_options.json" to "fidesjs_options_banner_modal" to be more semantic
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Fix aria props on modal title
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/ConsentModal.tsx
Due: none

Format, lint
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/PrivacyPolicyLink.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

Add translations to GPP tests
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
Due: privacy-center

Add tests for english language translations for banner/modal
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Skip failing tests and add some follow-up TODOs
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Update mock notices to include required, unique IDs
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/support/mocks.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Disable some flaky tests
  clients/privacy-center/cypress/e2e/consent.cy.ts
Due: privacy-center

Add (failing) tests for Spanish translations
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Localize modal notices
  clients/fides-js/src/components/DataUseToggle.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Localize modal content
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/PrivacyPolicyLink.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Localize banner title & description
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

Format, lint, and cleanup placeholders
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/e2e/consent.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Add messageExists helper to check for missing translations
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

Handle optional translations in banner title/description
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

some code cleanup of migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

adds fidesjs component to modal
  clients/admin-ui/.gitignore
  clients/admin-ui/package.json
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/package-lock.json
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

Misc cleanup, formatting, etc.
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

feat: add connectors team to CODEOWNERS
  .github/CODEOWNERS
Due: none

Review lib/ usages of translations
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/lib/tcf.ts
Due: none

cell refector
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

add config/template yml file used for migration
  src/fides/api/alembic/privacy_experience_config_defaults.yml
Due: backend

udpate drop statemnet depending on db version
  src/fides/api/alembic/migrations/versions/fd52d5f08c17_system_dictionary_data_migration.py
Due: backend

update drop statement depending on db version (#4644)
  src/fides/api/alembic/migrations/versions/fd52d5f08c17_system_dictionary_data_migration.py
Due: backend

Deployed c0733828e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

PROD-1617: Update when GPP API reports signal status: ready (#4635)
  CHANGELOG.md
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Deployed c00494c30 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Implement (optional) privacy policy link correctly
  clients/fides-js/src/components/PrivacyPolicyLink.tsx
  clients/fides-js/src/components/Toggle.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Updated CHANGELOG.md for release 2.31.0
  CHANGELOG.md
Due: none

feat: add Oracle Responsys logo
  data/saas/icon/oracle_responsys.svg
Due: none

refactor: replace conditional logic for checking for initial + in phone nums
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend
