Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Set default version to stable with mike 1.1.2
  index.html
Due: none

Pop translations on a dry update for notices.
  src/fides/api/models/privacy_notice.py
Due: backend

Commit translations deletion before returning updated notice.
  src/fides/api/models/privacy_notice.py
Due: backend

First pass
  src/fides/api/service/connectors/saas/authenticated_client.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/service/connectors/saas_query_config.py
Due: backend

update changelog
  CHANGELOG.md
Due: none

add supported language model + enum + registry YAML (#4592)
  CHANGELOG.md
  src/fides/api/schemas/language.py
  src/fides/data/language/languages.yml
  tests/ops/schemas/language/test_language.py
Due: backend

Deployed 43e3385b9 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

try parallelizing api and non api ops unit tests
  .github/workflows/backend_checks.yml
  noxfiles/ci_nox.py
  noxfiles/run_infrastructure.py
  noxfiles/setup_tests_nox.py
Due: none

Adding connection error handling + minor cleanup
  src/fides/api/service/connectors/saas/authenticated_client.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/util/logger_context_utils.py
Due: backend

Minor cleanup
  data/saas/config/talkable_config.yml
  data/saas/dataset/talkable_dataset.yml
  data/saas/icon/talkable.svg
Due: none

Fixing erasure test
  tests/fixtures/saas/talkable_fixtures.py
Due: none

Fixing typo in change log
  CHANGELOG.md
Due: none

CON-9 Talkable Connector (#4589)
  CHANGELOG.md
  data/saas/config/talkable_config.yml
  data/saas/dataset/talkable_dataset.yml
  data/saas/icon/talkable.svg
  tests/fixtures/saas/talkable_fixtures.py
  tests/ops/integration_tests/saas/test_talkable_task.py
Due: none

Deployed 0135810b1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update to use supported language enum
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/models/privacy_preference_v2.py
  src/fides/api/schemas/language.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/schemas/privacy_notice.py
  src/fides/data/privacy_notices/privacy_experience_config_defaults2.yml
  src/fides/data/privacy_notices/privacy_notice_templates2.yml
  tests/fixtures/application_fixtures.py
  tests/fixtures/test_privacy_experience_config.yml
  tests/fixtures/test_privacy_experience_config_update.yml
  tests/fixtures/test_privacy_notice.yml
  tests/fixtures/test_privacy_notice_update.yml
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/api/v1/test_utils.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/util/test_consent_util.py
Due: backend

cleanup more refs
  src/fides/api/models/privacy_experience.py
  src/fides/api/schemas/privacy_notice.py
Due: backend

fix some more references
  tests/ops/util/test_consent_util.py
Due: none

WIP: new privacy experience form
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperienceModal.tsx
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceLanguageMenu.tsx
  package-lock.json
  package.json
Due: admin-ui

Attempt #2 to install linguijs, this time by (pretending?) babel exists
  clients/fides-js/.babelrc
  clients/fides-js/lingui.config.js
  clients/fides-js/package.json
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/locales/cs/messages.js
  clients/fides-js/src/locales/cs/messages.po
  clients/fides-js/src/locales/en/messages.js
  clients/fides-js/src/locales/en/messages.po
  clients/fides-js/src/locales/fr/messages.js
  clients/fides-js/src/locales/fr/messages.po
  clients/package-lock.json
Due: none

don't show empty history rows
  clients/admin-ui/src/features/system/history/helpers.tsx
Due: admin-ui

update privacy experience form page to use new layout
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperienceModal.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/pages/consent/privacy-experience/[id].tsx
Due: admin-ui

Checkpoint: basic functional POC
  clients/fides-js/.babelrc
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/locales/cs/messages.js
  clients/fides-js/src/locales/cs/messages.po
  clients/fides-js/src/locales/en/messages.js
  clients/fides-js/src/locales/en/messages.po
  clients/fides-js/src/locales/fr/messages.js
  clients/fides-js/src/locales/fr/messages.po
  clients/package-lock.json
Due: none

Add fides_locale override option for testing
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

update to use supported language enum (#4597)
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/models/privacy_preference_v2.py
  src/fides/api/schemas/language.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/schemas/privacy_notice.py
  src/fides/data/privacy_notices/privacy_experience_config_defaults2.yml
  src/fides/data/privacy_notices/privacy_notice_templates2.yml
  tests/fixtures/application_fixtures.py
  tests/fixtures/test_privacy_experience_config.yml
  tests/fixtures/test_privacy_experience_config_update.yml
  tests/fixtures/test_privacy_notice.yml
  tests/fixtures/test_privacy_notice_update.yml
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/api/v1/test_utils.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/util/test_consent_util.py
Due: backend

add padding to gpc label and fix wrapping in firefox
  clients/fides-js/src/components/fides.css
Due: none

change padding to match tcf label
  clients/fides-js/src/components/fides.css
Due: none

fix cytoscape zoom after search
  clients/admin-ui/src/features/datamap/CytoscapeGraph.tsx
Due: admin-ui

remove dismissal for esc and clicking outside overlay
  clients/fides-js/src/components/ConsentBanner.tsx
Due: none

For limiting scope, remove "banner" and "api" as UX types for now.
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/language.py
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/schemas/language/test_language.py
Due: backend

Add session token for scan option
  src/fides/cli/commands/scan.py
  src/fides/cli/options.py
  src/fides/cli/utils.py
  src/fides/connectors/models.py
Due: backend

Add command options to generate
  src/fides/cli/commands/generate.py
Due: backend

Move Privacy Experience Config Endpoints, Schemas, and out of the box Notices and Experiences Configs to Plus.
  src/fides/api/api/v1/api.py
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/app_setup.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/schemas/privacy_notice.py
  src/fides/api/util/consent_util.py
  src/fides/common/api/v1/urn_registry.py
  src/fides/data/privacy_notices/privacy_experience_config_defaults2.yml
  src/fides/data/privacy_notices/privacy_notice_templates2.yml
  tests/conftest.py
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/api/v1/test_utils.py
  tests/ops/service/privacy_request/test_email_batch_send.py
  tests/ops/util/test_consent_util.py
Due: backend

Add UI for session tokens
  clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
  clients/admin-ui/src/types/api/models/AWSConfig.ts
  src/fides/cli/options.py
  src/fides/connectors/models.py
Due: backend, admin-ui

fix tests
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center
