Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Early linting pass.
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/schemas/privacy_notice.py
  src/fides/api/util/consent_util.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Work on fixing tests that use obsolete schemas.
  src/fides/api/schemas/privacy_notice.py
  src/fides/api/service/connectors/consent_email_connector.py
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/test_utils.py
  tests/ops/models/test_privacy_preference_v2.py
  tests/ops/service/connectors/test_consent_email_connector.py
  tests/ops/service/messaging/message_dispatch_service_test.py
  tests/ops/service/privacy_request/test_email_batch_send.py
Due: backend

Preventing completion email from being sent for consent requests
  src/fides/api/service/privacy_request/request_runner_service.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Fix automatically generated API docs, more linting.
  src/fides/api/models/privacy_notice.py
Due: backend

Adjust the datasets including removing some fields that we will remove before this PR is merged
  .fides/db_dataset.yml
Due: none

Add new ux types and remove get_should_show_banner.
  src/fides/api/models/privacy_experience.py
  tests/ops/models/test_privacy_experience.py
Due: backend

fix: cypress test for single validation field
  clients/admin-ui/cypress/e2e/user-management.cy.ts
Due: admin-ui

fix: remove .only from Cypress test for user deletion
  clients/admin-ui/cypress/e2e/user-management.cy.ts
Due: admin-ui

fix: test for deletion via profile
  clients/admin-ui/cypress/e2e/user-management.cy.ts
Due: admin-ui

Extend datamap table with custom fields
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

feat: add Alert element to user deletion confirmation dialog.
  clients/admin-ui/cypress/e2e/user-management.cy.ts
  clients/admin-ui/src/features/user-management/DeleteUserModal.tsx
Due: admin-ui

fix: remove unused import
  clients/admin-ui/src/features/user-management/DeleteUserModal.tsx
Due: admin-ui

fix: use correct character for single quote
  clients/admin-ui/src/features/user-management/DeleteUserModal.tsx
Due: admin-ui

Add comments
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Update changelog
  CHANGELOG.md
Due: none

update changelog for #4402
  CHANGELOG.md
Due: none

PROD-1404 update copy on the domain management page to remove CORs from title and add btn
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

prettier
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

fix spelling and tests
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
Due: admin-ui

move pymssql back to an optional requirement
  Dockerfile
  MANIFEST.in
  noxfiles/ci_nox.py
  noxfiles/utils_nox.py
  requirements.txt
  setup.py
Due: none

move pymssql back to an optional requirement
  Dockerfile
  MANIFEST.in
  noxfiles/ci_nox.py
  noxfiles/utils_nox.py
  optional-requirements.txt
  requirements.txt
  setup.py
Due: none

Update so notice keys can be duplicated at the privacy notice level, but we can't add duplicate notice keys to an experience.
  src/fides/api/alembic/migrations/versions/ac9cfaee7493_notice_and_experience_translations.py
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/util/consent_util.py
  src/fides/data/privacy_notices/privacy_experience_config_defaults2.yml
  tests/fixtures/application_fixtures.py
  tests/fixtures/test_privacy_experience_config.yml
  tests/fixtures/test_privacy_experience_config_update.yml
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/util/test_consent_util.py
Due: backend

First pass
  src/fides/api/db/seed.py
  src/fides/api/models/client.py
Due: backend

Adding test
  tests/ops/api/v1/endpoints/test_policy_endpoints.py
Due: none

Adding missing import
  src/fides/api/db/seed.py
Due: backend

update changelog
  CHANGELOG.md
Due: none

adjust relevant readme note
  README.md
Due: none

update paragraph copy
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

prettier / update copy
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

Update README.md
  README.md
Due: none

move pymssql back to an optional requirement (#4581)
  CHANGELOG.md
  Dockerfile
  MANIFEST.in
  README.md
  noxfiles/ci_nox.py
  noxfiles/utils_nox.py
  optional-requirements.txt
  requirements.txt
  setup.py
Due: none

Deployed 6ee23bbf1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add cypress test
  clients/admin-ui/cypress/e2e/datamap-report.cy.ts
  clients/admin-ui/cypress/fixtures/datamap/minimal.json
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

Updating change log
  CHANGELOG.md
Due: none

Preventing completion email from being sent for consent requests (#4578)
  CHANGELOG.md
  src/fides/api/service/privacy_request/request_runner_service.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Deployed 531069009 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
