Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

remove unneeded type
  clients/privacy-center/types/api/index.ts
  clients/privacy-center/types/api/models/SavePrivacyPreferencesResponse.ts
Due: privacy-center

remove id from notice translations
  clients/fides-js/__tests__/lib/gpp/us-notices.ts
  clients/privacy-center/cypress/fixtures/consent/experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

add option for GB country
  clients/admin-ui/src/features/common/privacy-notice-regions.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/privacy-center/types/api/models/PrivacyNoticeRegion.ts
  src/fides/api/models/privacy_notice.py
  src/fides/api/util/consent_util.py
Due: backend, admin-ui, privacy-center

hide empty history rows
  clients/admin-ui/src/features/system/history/SystemHistoryTable.tsx
Due: admin-ui

(Minor) tweak to PrivacyNotice types in fides-js for correctness
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

changelog
  CHANGELOG.md
Due: none

fix lint
  clients/admin-ui/src/features/system/history/SystemHistoryTable.tsx
Due: admin-ui

Refactor method that filters privacy notice regions to consider both locations and location groups since we are going to store both now.
  src/fides/api/schemas/locations.py
  tests/ops/models/test_privacy_experience.py
Due: backend

Connecting to back-end + misc
  clients/admin-ui/src/features/common/api.slice.ts
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/common/nav/v2/BackButton.tsx
  clients/admin-ui/src/features/plus/plus.slice.ts
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/AddPropertyButton.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/pages/consent/properties/types.ts
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/Page_Property_.ts
  clients/admin-ui/src/types/api/models/Property.ts
  src/fides/api/alembic/migrations/versions/26d5976531d6_add_property_table.py
  src/fides/api/db/base.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Fixing build error
  clients/admin-ui/src/types/api/models/Property.ts
Due: admin-ui

Tweak more fides-js API types slightly for correctness and add some comments!
  clients/fides-js/src/lib/consent-types.ts
Due: none

Few more tweaks to fides-js types!
  clients/fides-js/src/lib/consent-types.ts
Due: none

add option for GB country (#4628)
  CHANGELOG.md
  clients/admin-ui/src/features/common/privacy-notice-regions.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/privacy-center/types/api/models/PrivacyNoticeRegion.ts
  src/fides/api/models/privacy_notice.py
  src/fides/api/util/consent_util.py
Due: backend, admin-ui, privacy-center

Deployed 303abec00 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Hide empty history rows (#4629)
  clients/admin-ui/src/features/system/history/SystemHistoryTable.tsx
Due: admin-ui

Deployed 9cdd0c83d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

WIP: improve handling of translation form
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

Fix a few minor errors in mock data for fidesjs demo html
  clients/fides-js/__tests__/lib/consent-utils.test.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Fix my mistaken type for privacy_experience_history_id
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Mark experience_config.regions as optional so we can avoid using it on fides-js
  clients/fides-js/src/lib/consent-types.ts
Due: none

polish; add modal for setting new default
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Empty table notice and error handling
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/properties/AddPropertyButton.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/system/add-multiple-systems/AddMultipleSystems.tsx
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/PropertyTypes.ts
Due: admin-ui

refactor to have consistent column layout
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Add downtime notice
  clients/privacy-center/pages/index.tsx
Due: privacy-center

Again
  clients/privacy-center/pages/index.tsx
Due: privacy-center

Misc fixes
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/PropertyType.ts
  src/fides/api/schemas/property.py
Due: backend, admin-ui

Fixing tests
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
Due: admin-ui

refactor to have even more consistent column layout
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

chore: bump debian base image from bullseye to bookworm
  Dockerfile
  docs/fides/Dockerfile
Due: none

chore: bump python version from 3.10.12 to 3.10.13
  .github/workflows/backend_checks.yml
  .github/workflows/cli_checks.yml
  Dockerfile
  docs/fides/Dockerfile
Due: none

chore: bump python versions from 3.8.17, 3.9.17 to 3.8.18, 3.9.18
  .github/workflows/backend_checks.yml
Due: none

docs: update changelog for PR #4630
  CHANGELOG.md
Due: none

Misc cleanup
  .fides/db_dataset.yml
  clients/admin-ui/src/features/common/nav/v2/BackButton.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/system/add-multiple-systems/AddMultipleSystems.tsx
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Remove regions from sample notice fixture
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
Due: privacy-center

Fix a few subtle errors in test_banner_options.json
  clients/fides-js/src/lib/tcf/types.ts
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
Due: privacy-center

Misc fixes
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
Due: backend

Update fixture for privacy_preferences API response
  clients/privacy-center/cypress/fixtures/consent/privacy_preferences.json
Due: privacy-center

Remove lingering usage of current_preference
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
Due: privacy-center

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
