Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

add OOB translation handling for privacy notices
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
  clients/admin-ui/src/pages/consent/privacy-notices/[id].tsx
Due: admin-ui

Add areLocalesEqual helper and use everywhere
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

Set the i18n default locale based on experience during initialization
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Format, lint, cleanup
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Fixing tests
  src/fides/api/models/privacy_request.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Removing unused import
  src/fides/api/models/privacy_request.py
Due: backend

Update CHANGELOG
  CHANGELOG.md
Due: none

fix issue with select dropdown hiding behind button panel
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/common/form/inputs.tsx
Due: admin-ui

Fix issue with select dropdown hiding behind button panel (#4721)
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/common/form/inputs.tsx
Due: admin-ui

fix issue where default language was not being set
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Deployed d90d31000 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix issue where default language for privacy experience was not being set (#4722)
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Deployed 0a54d7cc3 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

inline getOOBTranslation; update info box copy
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Update FidesJS to support localizing CMP UI with configurable, non-English default locales (#4720)
  CHANGELOG.md
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Deployed 04b185b96 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

rename isOOB state variable
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
Due: admin-ui

Adding Cypress tests
  clients/admin-ui/cypress/e2e/properties.cy.ts
  clients/admin-ui/cypress/fixtures/properties/properties.json
  clients/admin-ui/cypress/fixtures/properties/property.json
  clients/admin-ui/cypress/fixtures/scopes/roles-to-scopes.json
  clients/admin-ui/cypress/fixtures/user-management/permissions.json
  clients/admin-ui/src/features/properties/AddPropertyButton.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
Due: admin-ui

Removing only from Cypress test
  clients/admin-ui/cypress/e2e/properties.cy.ts
Due: admin-ui

Misc Cypress fixes
  clients/admin-ui/cypress/e2e/properties.cy.ts
Due: admin-ui

sneaky CSS changes to ScrollableList
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

OOB translations in admin UI (#4718)
  CHANGELOG.md
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/common/api.slice.ts
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
  clients/admin-ui/src/pages/consent/privacy-experience/[id].tsx
  clients/admin-ui/src/pages/consent/privacy-notices/[id].tsx
Due: admin-ui

Deployed 7e576b544 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Updating types and adding schema tests
  clients/privacy-center/types/config.ts
  src/fides/api/schemas/privacy_center_config.py
  tests/ops/schemas/test_privacy_center_config.py
Due: backend, privacy-center

Reverting type change
  clients/privacy-center/types/config.ts
Due: privacy-center

Undoing formatting changes
  src/fides/api/models/privacy_request.py
Due: backend

Expand with dask distributed example using a LocalCluster and exposing a dashboard on port 8787
  docker-compose.yml
  requirements.txt
  src/fides/api/task/graph_task.py
Due: backend

Rapid POC - create Tasks model.
  src/fides/api/alembic/migrations/versions/c924a9af4c89_privacyrequesttask.py
  src/fides/api/common_exceptions.py
  src/fides/api/graph/config.py
  src/fides/api/models/policy.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
  src/fides/api/util/storage_util.py
  tests/ops/integration_tests/setup_scripts/postgres_setup.py
Due: backend

Start calculating all descendants that can be reached by the current node up front.
  src/fides/api/alembic/migrations/versions/c924a9af4c89_privacyrequesttask.py
  src/fides/api/alembic/migrations/versions/e743d13cac34_privacyrequesttask.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
Due: backend

Fix some bugs so that if a privacy request is re-processed its downstream nodes can get queued as well.
  src/fides/api/models/privacy_request.py
  src/fides/api/task/graph_task.py
Due: backend

Improve code comments
  src/fides/api/alembic/migrations/versions/e743d13cac34_privacyrequesttask.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
  src/fides/api/util/storage_util.py
  tests/ops/integration_tests/setup_scripts/postgres_setup.py
Due: backend

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
