Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Fix handling of http:foo.com URLs
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

feat: initial Talkable SaaS config and dataset
  data/saas/config/talkable_config.yml
  data/saas/dataset/talkable_dataset.yml
Due: none

Remove PrivacyExperience.component field in favor of PrivacyExperienceConfig.component to which it has a FK.
  noxfiles/ci_nox.py
  noxfiles/utils_nox.py
  scripts/verify_privacy_preferences_overhaul_migration.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/schemas/privacy_experience.py
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/util/test_consent_util.py
Due: backend

Feedback from code review!
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Update Domains page with ability to add/remove "organization" domains, view "administrator" domains set via security settings, and improve various UX bugs and copy (#4584)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/common/form/FormSection.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/common/nav/v2/routes.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/consent/configure/index.tsx
  clients/admin-ui/src/pages/management/domains.tsx
  clients/admin-ui/src/types/api/models/SecurityApplicationConfig.ts
  src/fides/api/models/application_config.py
  src/fides/config/config_proxy.py
  src/fides/config/utils.py
  tests/ops/api/v1/endpoints/test_config_endpoints.py
  tests/ops/models/test_application_config.py
Due: backend, admin-ui

Deployed 79ea1b445 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update src/fides/core/dataset.py
  src/fides/core/dataset.py
Due: backend

Removing prefixes from custom field labels
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Updating Cypress tests
  clients/admin-ui/cypress/e2e/datamap-report.cy.ts
Due: admin-ui

Extend datamap table with custom fields (#4579)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/datamap-report.cy.ts
  clients/admin-ui/cypress/fixtures/datamap/minimal.json
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Deployed 9604e9ba2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: add intial tests for Talkable
  tests/fixtures/saas/talkable_fixtures.py
Due: none

Updating change log
  CHANGELOG.md
Due: none

Fixing root user client ID (#4582)
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/68cb26f3492d_remove_client_id_constraint.py
  src/fides/api/api/v1/endpoints/policy_endpoints.py
  src/fides/api/models/policy.py
  tests/ops/api/v1/endpoints/test_policy_endpoints.py
Due: backend

Deployed 3bacb770c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

feat: add asserts to Talkable tests
  tests/ops/integration_tests/saas/test_talkable_task.py
Due: none

feat: add origin[] field to Talkable dataset
  data/saas/dataset/talkable_dataset.yml
Due: none

Add language to privacy preference and served notice history tables. Also add property to calculate the regions using the privacy notice.
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/models/privacy_preference_v2.py
  tests/ops/models/test_privacy_notice.py
Due: backend

feat: add Talkable icon
  data/saas/icon/talkable.svg
Due: none

Throw 422 if name is None.
  src/fides/api/schemas/privacy_notice.py
Due: backend

Restore privacy notice configuration where extra fields are forbidden.
  src/fides/api/schemas/privacy_notice.py
  src/fides/data/privacy_notices/privacy_notice_templates2.yml
  tests/fixtures/application_fixtures.py
  tests/ops/util/test_consent_util.py
Due: backend

Bump downrev.
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

Fix tests based on schema changes.
  tests/ops/service/messaging/message_dispatch_service_test.py
  tests/ops/service/privacy_request/test_email_batch_send.py
Due: none

Fixing error when rendering empty datamap report table
  clients/admin-ui/cypress/e2e/datamap-report.cy.ts
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

feat: remove custom properties from creation call
  tests/fixtures/saas/talkable_fixtures.py
Due: none

docs: CHANGELOG.md entry for Talkable connector
  CHANGELOG.md
Due: none

Fixing error when rendering empty datamap report table (#4590)
  clients/admin-ui/cypress/e2e/datamap-report.cy.ts
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Deployed c2ca534a6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

add supported language model + enum + registry YAML
  src/fides/api/schemas/language.py
  src/fides/data/language/languages.yml
  tests/ops/schemas/language/test_language.py
Due: backend

ignore 404 errors (and only 404) for delighted and kustomer erasures
  data/saas/config/delighted_config.yml
  data/saas/config/kustomer_config.yml
Due: none

changelog
  CHANGELOG.md
Due: none

Move use_enum_values off of the base PrivacyNotice class
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/privacy_notice.py
Due: backend

Make separate NoticeTranslationCreate schemas.
  src/fides/api/schemas/privacy_notice.py
Due: backend

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
