Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Deployed 1883a5b03 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed d0e813c37 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Show a systems count in the datamap reports, with a tooltip to explain hidden GVL/AC systems
  clients/admin-ui/src/features/datamap/Datamap.tsx
  clients/admin-ui/src/features/datamap/SettingsBar.tsx
  clients/admin-ui/src/pages/consent/configure/add-vendors.tsx
Due: admin-ui

Update CHANGELOG
  CHANGELOG.md
Due: none

pause
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

testing
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

show 'allow dismissal' toggle when editing TCF experience
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Added a _ to the task trying to get it to pass
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

Show a "systems displayed" count on datamap map & table reporting page (#4752)
  CHANGELOG.md
  clients/admin-ui/src/features/datamap/Datamap.tsx
  clients/admin-ui/src/features/datamap/GVLDatamapNotice.tsx
  clients/admin-ui/src/features/datamap/SettingsBar.tsx
  clients/admin-ui/src/pages/consent/configure/add-vendors.tsx
Due: admin-ui

Deployed fa8bcfe59 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix select menu occasionally being cut off by edges of modals
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/privacy-notices/ConsentMechanismForm.tsx
Due: admin-ui

Skipping additional test
  tests/ops/integration_tests/saas/test_gorgias_task.py
Due: none

Re-adding dynamodb pytest marker
  pyproject.toml
Due: none

Fix select menu being cut off by edges of modals (#4757)
  CHANGELOG.md
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/privacy-notices/ConsentMechanismForm.tsx
Due: admin-ui

Deployed ec6cad0c0 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fixing more tests
  tests/fixtures/saas/delighted_fixtures.py
  tests/ops/integration_tests/test_privacy_request_logging.py
Due: none

Increasing timeout
  noxfiles/setup_tests_nox.py
  tests/fixtures/saas/delighted_fixtures.py
Due: none

Additional fixes
  noxfiles/setup_tests_nox.py
  tests/fixtures/saas/delighted_fixtures.py
  tests/ops/integration_tests/test_privacy_request_logging.py
Due: none

Adding skip for integrations without access requests
  tests/ops/integration_tests/saas/connector_runner.py
Due: none

enable language switcher in TCF
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
Due: none

Changed note
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
Due: backend

TCF language switcher tests
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Fixing Adyen tests
  data/saas/config/adyen_config.yml
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: backend

First fixes
  data/saas/config/adyen_config.yml
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

change purple to complimentary
  clients/admin-ui/src/features/common/PickerCard.tsx
  clients/admin-ui/src/features/common/dropdown/MultiSelectDropdownList.tsx
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
  clients/admin-ui/src/features/common/table/v2/RowSelectionBar.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/locations/modal.tsx
  clients/admin-ui/src/features/system/dictionary-data-uses/DataUseCheckboxTable.tsx
  clients/admin-ui/src/features/system/dictionary-data-uses/PrivacyDeclarationDictModalComponents.tsx
  clients/admin-ui/src/features/system/dictionary-form/DictSuggestionInputs.tsx
  clients/admin-ui/src/features/taxonomy/ActionButtons.tsx
  clients/admin-ui/src/features/taxonomy/TaxonomyTabContent.tsx
  clients/admin-ui/src/pages/management/consent.tsx
Due: admin-ui

WIP Restore old task runners and reinstall Dask.
  requirements.txt
  src/fides/api/common_exceptions.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/deprecated_graph_task.py
  src/fides/api/task/graph_runners.py
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
  src/fides/config/execution_settings.py
Due: backend

Restore removed pieces of caching data use field map.
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/storage/storage_uploader_service.py
  src/fides/api/tasks/storage.py
  src/fides/api/util/storage_util.py
Due: backend

Adjust test import.
  pyproject.toml
  tests/ops/task/test_graph_task.py
Due: none

Fix: language switcher not working in tcf overlay (#4758)
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Deployed 321e9d435 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
