Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Select from GVL translations using a case-insensitive match instead
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Select from GVL translations using a case-insensitive locale match (#4691)
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

fix location display on privacy notice form
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

update Cypress tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-notices/notice.json
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
Due: admin-ui

remove unneeded complexity with fidesjs components preview mode logic
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/Overlay.tsx
Due: none

enable test
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Fix FidesJS to only process gvl_translations for TCF components, update test data to be more realistic
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

PROD-1798 Remove unneeded complexity with fidesjs components preview mode logic (#4693)
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/Overlay.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Fix FidesJS to not attempt to load GVL translations for regular banner/modal components (#4694)
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Iterable Erasure only integration ct passing
  data/saas/config/iterable_config.yml
  data/saas/dataset/iterable_dataset.yml
  tests/fixtures/saas/iterable_fixtures.py
  tests/ops/integration_tests/saas/test_iterable_task.py
Due: none

Fix location display on privacy notice form (#4692)
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-notices/notice.json
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

Update the GPP test fixture for consistency
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
Due: privacy-center

Keep Canada Experiences Disabled (#4687)
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Add --verbose to pypi upload actions for debugging
  .github/workflows/publish_package.yaml
Due: none

implement dismissable for banner
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

adds dismissable for modal, write e2e tests
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Add comments, remove unintended change to demo page
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

PROD-1600 Implement experience-config-driven dismissable consent components (#4696)
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Update CHANGELOG with an overview/summary of changes from multilang integration branch
  CHANGELOG.md
Due: none

Deployed 5e2c7194d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Added Icon
  data/saas/icon/iterable.svg
Due: none

Updated CHANGELOG.md for release 2.32.0
  CHANGELOG.md
Due: none

Deployed b73b7106e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Updated CHANGELOG.md for release 2.32.0 (#4704)
  CHANGELOG.md
Due: none

Deployed ef34c897c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Delete properties
  clients/admin-ui/src/features/properties/DeletePropertyModalTrigger.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  src/fides/api/alembic/migrations/versions/7799269e7078_remove_cascade_delete_from_property.py
  src/fides/api/models/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Make a copy of all messages.json files
  clients/fides-js/src/lib/i18n/locales/ar/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/bg/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/bs/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/ca/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/cs/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/da/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/de/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/el/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/en/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/es/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/et/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/eu/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/fi/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/fr/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/gl/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/hr/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/hu/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/it/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/ja/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/lt/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/lv/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/mt/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/nl/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/no/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/pl/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/ro/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/ru/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/sk/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/sl/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/sv/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/tr/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/uk/messages-tcf.json
  clients/fides-js/src/lib/i18n/locales/zh/messages-tcf.json
Due: none

Move TCF message files into lib/tcf/i18n/locales instead
  clients/fides-js/src/lib/tcf/i18n/locales/ar/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/bg/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/bs/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/ca/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/cs/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/da/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/de/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/el/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/en/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/es-MX/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/es/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/et/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/eu/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/fi/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/fr-CA/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/fr/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/gl/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/hi-IN/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/hr/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/hu/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/it/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/ja/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/lt/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/lv/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/mt/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/nl/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/no/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/pl/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/pt-BR/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/pt-PT/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/ro/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/ru/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/sk/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/sl/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/sr-Cyrl/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/sr-Latn/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/sv/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/tr/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/uk/messages-tcf.json
  clients/fides-js/src/lib/tcf/i18n/locales/zh/messages-tcf.json
Due: none

Add an index file for all TCF messages
  clients/fides-js/src/lib/tcf/i18n/locales/index.ts
Due: none

increase max height of properties scrollable list item
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

experience config form updates
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

adds validation to required fields
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
Due: admin-ui

Set a new, reduced maximum fides-js bundle size target!
  clients/fides-js/rollup.config.mjs
Due: none

Add failing test for loading TCF messages
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
