Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

load experience configs inline rather than from disk
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/privacy_experience_config_defaults.yml
Due: backend

Fixed errant change to statsig task
  tests/ops/integration_tests/saas/test_statsig_enterprise_task.py
Due: none

Removing whitespace from bottom of navbar
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
Due: admin-ui

update types
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
Due: admin-ui

Remove focus outline from nav (#4653)
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
Due: admin-ui

Deployed 1fae7eff2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fixing types
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

More type fixes
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
Due: admin-ui

update imports to be absolute paths and update var name
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

lint and format
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

Fallback to English translation when notice mismatch
  clients/fides-js/src/components/notices/NoticeToggles.tsx
Due: none

Add failing test for correct notice history IDs
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

adjustments to data migration based on PR comments
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

fix: bump version and update changelog
  CHANGELOG.md
  data/saas/config/delighted_config.yml
  data/saas/config/kustomer_config.yml
Due: none

update imports, update ComponentCell, fix cy tests
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
Due: admin-ui

update changelog
  CHANGELOG.md
Due: none

update cypress tests
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
Due: admin-ui

cypress update and formatting
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
Due: admin-ui

Update privacy notice page to use new table (#4641)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
Due: admin-ui

Remove location and regulation beta flag
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/flags.json
Due: admin-ui

fix type error
  clients/admin-ui/src/features/locations/LocationPickerCard.tsx
  clients/admin-ui/src/features/locations/transformations.ts
Due: admin-ui

Checkpoint: start refactoring NoticeToggles to take translated props instead of notices
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Calculate GPC badge & disabled state in parent overlay
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

support default selected flag on locations
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/models/location_regulation_selections.py
  src/fides/data/location/locations.yml
  tests/ops/models/test_location_regulation_selections.py
Due: backend

remove mistakenly added function
  src/fides/api/models/location_regulation_selections.py
Due: backend

Add getCurrentLocale to i18n-utils
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

Remove password from Credentials object since it is never used.
  src/fides/core/user.py
  src/fides/core/utils.py
Due: backend

Remove unnecessary formatting
  src/fides/core/user.py
Due: backend

Add tests for selectBestNoticeTranslation
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Format, lint, tidy up
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Additional type checks & fixes
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

rename to clarify getSelectedLocations
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

set default selected to true on some forgotten locations
  src/fides/data/location/locations.yml
Due: backend

Update privacy experiences table to new table component (#4652)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/pages/consent/privacy-experience/index.tsx
Due: admin-ui

fix type errors about properties
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
Due: admin-ui
