Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Misc cleanup
  clients/admin-ui/src/features/user-management/UserForm.tsx
  src/fides/api/alembic/migrations/versions/31493e48c1d8_table_updates_for_user_invite.py
  src/fides/api/api/v1/endpoints/messaging_endpoints.py
  src/fides/api/api/v1/endpoints/user_endpoints.py
  src/fides/api/models/fides_user_invite.py
  src/fides/api/service/user/fides_user_service.py
Due: backend, admin-ui

Update src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Removed access test - erasure only connector
  tests/ops/integration_tests/saas/test_simon_data_task.py
Due: none

Fixing downrev
  src/fides/api/alembic/migrations/versions/31493e48c1d8_table_updates_for_user_invite.py
Due: backend

fix lingering bugs with preview mode
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

fix issue with preview positioning
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Adding property ID support to fides.js
  clients/fides-js/src/services/api.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Canadian Mulitranslation Data Migration Adjustments (#4672)
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
Due: backend

fix issue with Cypress test on closing banner
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Start adding tests for TCF banner localization
  clients/fides-js/src/components/tcf/InitialLayer.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
Due: privacy-center

add TCF UX to privacy experience config form
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
Due: admin-ui

.skip failing test and TODO fix
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

hide component type dropdown for TCF experience
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Add TCF tests for shared modal components and Purposes tab
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
Due: privacy-center

Add tests for Features tab
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Remove location and regulation beta flag (#4660)
  CHANGELOG.md
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/flags.json
Due: admin-ui

Deployed ef11403a5 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add tests for Vendors tab
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Parameterize i18n tests to remove duplication
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
Due: privacy-center

Reorganize E2E test cases
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

More just tidying & organization of specs
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Make tests a bit more compact :D
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Update TCF fixture data with translations
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
Due: privacy-center

Fix a weird bug in the GVL (woof)
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
Due: privacy-center

Add expected values for localized Spanish TCF
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
Due: privacy-center

Enable Spanish TCF test
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Localize VendorInfoBanner
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/tcf/VendorInfoBanner.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Add a new selectBestGVLTranslation helper and unit tests
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/tcf/types.ts
Due: none

updated links in README.md
  README.md
Due: none

updated links in README.md 2
  README.md
Due: none

updated links in README.md a
  README.md
Due: none

Conditionally Enabling Migrated Experience Configs (#4674)
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Localize GVL stacks
  clients/fides-js/src/components/tcf/InitialLayer.tsx
  clients/fides-js/src/components/tcf/InitialLayerAccordion.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Start building out extracting messages from gvl translations
  clients/fides-js/__tests__/__fixtures__/mock_gvl_translations.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/tcf/types.ts
Due: none

Implement extracting from GVL translations
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Try using i18n.t to get GVL translations, feels good
  clients/fides-js/src/components/tcf/InitialLayerAccordion.tsx
Due: none

Remove selectBestGVLTranslation
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/tcf/InitialLayer.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Fully localize TCF InitialLayer
  clients/fides-js/src/components/tcf/InitialLayer.tsx
Due: none
