Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Remove remaining use of any in i18n-utils
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Polish, format, lint
  clients/fides-js/src/lib/consent-utils.ts
Due: none

Fixing downrev
  src/fides/api/alembic/migrations/versions/26d5976531d6_add_property_table.py
Due: backend

Fixing DRP, storage, and SaaS tests
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
  tests/ops/service/connectors/test_saas_connector.py
  tests/ops/service/connectors/test_saas_queryconfig.py
  tests/ops/service/privacy_request/test_email_batch_send.py
  tests/ops/service/test_storage_uploader_service.py
Due: none

Fixing email send tests
  tests/fixtures/application_fixtures.py
  tests/ops/service/privacy_request/test_email_batch_send.py
Due: none

Fix accidental bug in consent-utils
  clients/fides-js/src/lib/consent-utils.ts
Due: none

Fix failing E2E test
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Add i18n support to FidesJS to prep for language localization (#4615)
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/consent-utils.test.ts
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/i18n/i18n-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

initial notes
  clients/fides-js/src/fides-ext-gpp.ts
Due: none

update when GPP API reports signal statu: ready
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Add changelog
  CHANGELOG.md
Due: none

Fixing tests
  .fides/db_dataset.yml
  tests/ops/service/connectors/test_saas_connector.py
Due: none

feat: add random phone number generator
  tests/ops/integration_tests/saas/connector_runner.py
Due: none

feat: finish oracle responsys support for phone numbers
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

change translation fields based on component type
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

fix: add newline to end of file
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: none

fix: remove unused import
  src/fides/api/service/saas_request/override_implementations/authentication_strategy_oracle_responsys.py
Due: backend

fix: mark tests as skip
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: none

docs: update CHANGELOG.md for Oracle Responsys connector
  CHANGELOG.md
Due: none

Rename a few test files for consistency
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_overlay.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

adds check for existing user prefs, fix tests
  clients/fides-js/src/fides-ext-gpp.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Changes based on PR feedback
  clients/admin-ui/cypress/e2e/config-wizard-plus.cy.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Fixing Cypress tests
  clients/admin-ui/cypress/fixtures/scopes/roles-to-scopes.json
  clients/admin-ui/cypress/fixtures/user-management/permissions.json
Due: admin-ui

fix type error on privacy notice table
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

regenerate types; fix experience config table to use new types
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigDisabledResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigDisabledUpdate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationResponse.ts
  clients/admin-ui/src/types/api/models/GPPSettings.ts
  clients/admin-ui/src/types/api/models/LimitedPrivacyNoticeResponseSchema.ts
  clients/admin-ui/src/types/api/models/Page_ExperienceConfigListViewResponse_.ts
  clients/admin-ui/src/types/api/models/Page_ExperienceConfigResponse_.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponseWithRegions.ts
Due: admin-ui

Rename for clarity
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

update type
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

Removing fill on default connector icon
  data/saas/icon/default.svg
Due: none

Begin refactoring *all* the test data to have translations, test-friendly IDs, etc.
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/notices_served.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

adds back GPPSettings type
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/GPPSettings.ts
Due: admin-ui

replace with GPPApplicationConfigResponse
  clients/admin-ui/src/features/consent-settings/GppConfiguration.tsx
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/consent.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/GPPSettings.ts
Due: admin-ui

Continue refactoring E2E test data
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
Due: privacy-center

Rename "test_banner_options.json" to "fidesjs_options_banner_modal" to be more semantic
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Disable some flaky tests
  clients/privacy-center/cypress/e2e/consent.cy.ts
Due: privacy-center

Format, lint, and cleanup placeholders
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/e2e/consent.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Fix formatting
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Add translations to GPP tests
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
Due: privacy-center

update privacy notice form helpers
  clients/admin-ui/src/features/privacy-notices/form.ts
Due: admin-ui

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
