Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

configure logger on worker initialization (#4624)
  CHANGELOG.md
  src/fides/api/tasks/__init__.py
Due: backend

Deployed 7774313c6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

remove unneeded check for component
  clients/fides-js/src/components/Overlay.tsx
Due: none

small cleanup items
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

update Cypress tests; WIP translation work
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/experienceConfig.json
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/OverlayForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/PrivacyCenterForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/PrivacyExperienceForm.tsx
  clients/package-lock.json
Due: admin-ui

lint
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

accidentally added generated files
  clients/admin-ui/public/lib/fides-ext-gpp.js
  clients/admin-ui/public/lib/fides-tcf.js
  clients/admin-ui/public/lib/fides.js
Due: admin-ui

update openAPI types
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslation.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationResponse.ts
  clients/admin-ui/src/types/api/models/LimitedPrivacyNoticeResponseSchema.ts
  clients/admin-ui/src/types/api/models/NoticeTranslation.ts
  clients/admin-ui/src/types/api/models/NoticeTranslationCreate.ts
  clients/admin-ui/src/types/api/models/NoticeTranslationResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyExperienceResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeCreation.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponseWithRegions.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeUpdate.ts
Due: admin-ui

add missing type from main
  clients/admin-ui/src/types/api/models/GPPSettings.ts
Due: admin-ui

properly export new type from API
  clients/admin-ui/src/types/api/index.ts
Due: admin-ui

TS ignore type error that will be overwritten by privacy notice form update
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
Due: admin-ui

rename from NewPrivacyExperienceForm to PrivacyExperienceForm
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
Due: admin-ui

update types for pc
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/types/api/models/BannerEnabled.ts
  clients/privacy-center/types/api/models/ComponentType.ts
  clients/privacy-center/types/api/models/Consent.ts
  clients/privacy-center/types/api/models/ConsentMechanism.ts
  clients/privacy-center/types/api/models/ConsentMethod.ts
  clients/privacy-center/types/api/models/ConsentOptionCreate.ts
  clients/privacy-center/types/api/models/ConsentPreferences.ts
  clients/privacy-center/types/api/models/ConsentPreferencesWithVerificationCode.ts
  clients/privacy-center/types/api/models/CurrentPrivacyPreferenceSchema.ts
  clients/privacy-center/types/api/models/EnforcementLevel.ts
  clients/privacy-center/types/api/models/ExperienceConfigResponse.ts
  clients/privacy-center/types/api/models/ExperienceConfigTranslation.ts
  clients/privacy-center/types/api/models/Page_PrivacyExperienceResponse_.ts
  clients/privacy-center/types/api/models/PrivacyExperienceResponse.ts
  clients/privacy-center/types/api/models/PrivacyNoticeHistorySchema.ts
  clients/privacy-center/types/api/models/PrivacyNoticeRegion.ts
  clients/privacy-center/types/api/models/PrivacyNoticeResponse.ts
  clients/privacy-center/types/api/models/PrivacyNoticeTranslations.ts
  clients/privacy-center/types/api/models/PrivacyPreferencesRequest.ts
  clients/privacy-center/types/api/models/RecordConsentServedRequest.ts
  clients/privacy-center/types/api/models/RecordsServedResponse.ts
  clients/privacy-center/types/api/models/ServingComponent.ts
  clients/privacy-center/types/api/models/UserConsentPreference.ts
Due: privacy-center

adding some types back
  clients/privacy-center/types/api/index.ts
  clients/privacy-center/types/api/models/NoticeTranslationResponse.ts
  clients/privacy-center/types/api/models/PrivacyNoticeResponseWithUserPreferences.ts
Due: privacy-center

rename NewPrivacyExperienceForm.tsx to match
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

adds PreferencesSaved type
  clients/privacy-center/features/consent/consent.slice.ts
  clients/privacy-center/types/api/models/PreferencesSaved.ts
Due: privacy-center

Add selected_location_groups column.
  src/fides/api/alembic/migrations/versions/0c65325843bd_add_location_groups_column.py
  src/fides/api/models/location_regulation_selections.py
Due: backend

complete adding types to PC
  clients/privacy-center/features/consent/consent.slice.ts
  clients/privacy-center/types/api/index.ts
Due: privacy-center

format
  clients/privacy-center/features/consent/consent.slice.ts
  clients/privacy-center/types/api/index.ts
  clients/privacy-center/types/api/models/ComponentType.ts
  clients/privacy-center/types/api/models/Consent.ts
  clients/privacy-center/types/api/models/ConsentMechanism.ts
  clients/privacy-center/types/api/models/ConsentMethod.ts
  clients/privacy-center/types/api/models/ConsentOptionCreate.ts
  clients/privacy-center/types/api/models/ConsentPreferences.ts
  clients/privacy-center/types/api/models/ConsentPreferencesWithVerificationCode.ts
  clients/privacy-center/types/api/models/EnforcementLevel.ts
  clients/privacy-center/types/api/models/ExperienceConfigResponse.ts
  clients/privacy-center/types/api/models/NoticeTranslationResponse.ts
  clients/privacy-center/types/api/models/Page_PrivacyExperienceResponse_.ts
  clients/privacy-center/types/api/models/PreferencesSaved.ts
  clients/privacy-center/types/api/models/PrivacyExperienceResponse.ts
  clients/privacy-center/types/api/models/PrivacyNoticeRegion.ts
  clients/privacy-center/types/api/models/PrivacyNoticeResponse.ts
  clients/privacy-center/types/api/models/PrivacyPreferencesRequest.ts
  clients/privacy-center/types/api/models/RecordConsentServedRequest.ts
  clients/privacy-center/types/api/models/RecordsServedResponse.ts
  clients/privacy-center/types/api/models/ServingComponent.ts
  clients/privacy-center/types/api/models/UserConsentPreference.ts
Due: privacy-center

add supportedLanguage type
  clients/privacy-center/types/api/models/SupportedLanguage.ts
Due: privacy-center

add supported language type to exports
  clients/privacy-center/types/api/index.ts
Due: privacy-center

adds more types
  clients/privacy-center/types/api/models/GPPFieldMapping.ts
  clients/privacy-center/types/api/models/GPPMechanismMapping.ts
  clients/privacy-center/types/api/models/PrivacyNoticeFramework.ts
Due: privacy-center

add types to export file
  clients/privacy-center/types/api/index.ts
  clients/privacy-center/types/api/models/GPPFieldMapping.ts
  clients/privacy-center/types/api/models/GPPMechanismMapping.ts
  clients/privacy-center/types/api/models/PrivacyNoticeFramework.ts
  clients/privacy-center/types/api/models/SupportedLanguage.ts
Due: privacy-center

add more types
  clients/privacy-center/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/privacy-center/types/api/models/ExperienceMeta.ts
  clients/privacy-center/types/api/models/ExperienceTranslationResponse.ts
  clients/privacy-center/types/api/models/GPPApplicationConfigResponse.ts
  clients/privacy-center/types/api/models/GPPUSApproach.ts
  clients/privacy-center/types/api/models/TCFFeatureRecord.ts
  clients/privacy-center/types/api/models/TCFFeatureSave.ts
  clients/privacy-center/types/api/models/TCFPurposeConsentRecord.ts
  clients/privacy-center/types/api/models/TCFPurposeLegitimateInterestsRecord.ts
  clients/privacy-center/types/api/models/TCFPurposeSave.ts
  clients/privacy-center/types/api/models/TCFSpecialFeatureRecord.ts
  clients/privacy-center/types/api/models/TCFSpecialFeatureSave.ts
  clients/privacy-center/types/api/models/TCFSpecialPurposeRecord.ts
  clients/privacy-center/types/api/models/TCFSpecialPurposeSave.ts
  clients/privacy-center/types/api/models/TCFVendorConsentRecord.ts
  clients/privacy-center/types/api/models/TCFVendorLegitimateInterestsRecord.ts
  clients/privacy-center/types/api/models/TCFVendorRelationships.ts
  clients/privacy-center/types/api/models/TCFVendorSave.ts
  clients/privacy-center/types/api/models/UserConsentPreference.ts
Due: privacy-center

update model with new prop name
  clients/privacy-center/types/api/models/ExperienceTranslationResponse.ts
Due: privacy-center

adds embeddedpurpose
  clients/privacy-center/types/api/models/EmbeddedPurpose.ts
Due: privacy-center

Tidy up message extraction from API responses
  clients/fides-js/__tests__/lib/i18n/fixtures/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/fixtures/mock_experience_no_translations.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add class level methods to set location groups
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/schemas/locations.py
Due: backend

Implement support for "auto_detect_language" config
  clients/fides-js/__tests__/lib/i18n/fixtures/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Lint & format
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Set default version to stable with mike 1.1.2
  index.html
Due: none

refactor handling of translation state to prepare for translation form
  clients/admin-ui/src/features/common/Icon/DesktopIcon.tsx
  clients/admin-ui/src/features/common/Icon/MobileIcon.tsx
  clients/admin-ui/src/features/common/nav/v2/BackButton.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

update types / lint
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/types/api/models/EmbeddedPurpose.ts
  clients/privacy-center/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/privacy-center/types/api/models/ExperienceMeta.ts
  clients/privacy-center/types/api/models/ExperienceTranslationResponse.ts
  clients/privacy-center/types/api/models/GPPApplicationConfigResponse.ts
  clients/privacy-center/types/api/models/GPPUSApproach.ts
  clients/privacy-center/types/api/models/PrivacyNoticeResponse.ts
  clients/privacy-center/types/api/models/TCFFeatureRecord.ts
  clients/privacy-center/types/api/models/TCFFeatureSave.ts
  clients/privacy-center/types/api/models/TCFPurposeConsentRecord.ts
  clients/privacy-center/types/api/models/TCFPurposeLegitimateInterestsRecord.ts
  clients/privacy-center/types/api/models/TCFPurposeSave.ts
  clients/privacy-center/types/api/models/TCFSpecialFeatureRecord.ts
  clients/privacy-center/types/api/models/TCFSpecialFeatureSave.ts
  clients/privacy-center/types/api/models/TCFSpecialPurposeRecord.ts
  clients/privacy-center/types/api/models/TCFSpecialPurposeSave.ts
  clients/privacy-center/types/api/models/TCFVendorConsentRecord.ts
  clients/privacy-center/types/api/models/TCFVendorLegitimateInterestsRecord.ts
  clients/privacy-center/types/api/models/TCFVendorRelationships.ts
  clients/privacy-center/types/api/models/TCFVendorSave.ts
  clients/privacy-center/types/api/models/UserConsentPreference.ts
Due: privacy-center

add tcmobiledata
  clients/privacy-center/types/api/models/TCMobileData.ts
Due: privacy-center

format
  clients/privacy-center/types/api/models/TCMobileData.ts
Due: privacy-center

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
