Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Resizing experience table buttons
  clients/admin-ui/src/features/custom-assets/CustomAssetUploadButton.tsx
  clients/admin-ui/src/features/privacy-experience/JavaScriptTag.tsx
Due: admin-ui

changelog
  CHANGELOG.md
Due: none

fix live preview
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
Due: admin-ui

Add tests for saving GPC preferences and move dismiss bugs to follow-up TODOs
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Explicitly initialize i18n with setupI18n
  clients/fides-js/src/lib/initialize.ts
Due: none

Fix failing test
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Fix build error
  clients/fides-js/src/lib/initialize.ts
Due: none

Fix an annoying circular dependency build warning
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
Due: none

Updating schema
  src/fides/api/schemas/property.py
Due: backend

Fixing test
  tests/ops/models/test_property.py
Due: none

Format & lint
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/consent-utils.ts
Due: none

Updating Cypress fixtures
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
Due: admin-ui

Adding property to experience fixture
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
Due: admin-ui

Updating UI permissions
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
Due: admin-ui

Update FidesJS to handle "mismatched" translations between notices within an experience (#4663)
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/EmbeddedVendorList.tsx
  clients/fides-js/src/components/tcf/InitialLayerAccordion.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/components/tcf/VendorInfoBanner.tsx
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/a11y-dialog.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/lib/tcf.ts
  clients/fides-js/src/lib/tcf/constants.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/e2e/consent.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/types/api/models/PrivacyPreferencesRequest.ts
Due: privacy-center

Hide "On"/"Off" toggle labels in non-default locales
  clients/fides-js/src/components/DataUseToggle.tsx
  clients/fides-js/src/components/Toggle.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Multitranslation cleanup backend
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Add Spanish (Mexico) es-MX language code (#4667)
  src/fides/data/language/languages.yml
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/schemas/language/test_language.py
Due: backend

Remove "Customize appearance" button from experience config (#4662)
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Hide On/Off toggle labels in non-default locales (#4670)
  clients/fides-js/src/components/DataUseToggle.tsx
  clients/fides-js/src/components/Toggle.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Set default version to stable with mike 1.1.2
  index.html
Due: none

Fixing update bug
  src/fides/api/models/property.py
Due: backend

Backend Multitranslation cleanup (#4669)
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Removing unused button
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Update location picker to respect selected locations (#4659)
  clients/admin-ui/src/features/common/privacy-notice-regions.ts
  clients/admin-ui/src/features/locations/transformations.ts
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/Continent.ts
  clients/admin-ui/src/types/api/models/Location.ts
  clients/admin-ui/src/types/api/models/LocationGroup.ts
  clients/admin-ui/src/types/api/models/LocationRegulationBase.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeDisabledResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeDisabledUpdate.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/PropertyType.ts
  clients/admin-ui/src/types/api/models/Selection.ts
Due: admin-ui

fix: add home directory for fidesuser
  Dockerfile
Due: none

fix: syntax error in adduser command
  Dockerfile
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

Add additional static string catalog files
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Removing unused import
  src/fides/api/models/property.py
Due: backend

Updating icon
  data/saas/icon/simon_data.svg
Due: none

Changes based on PR feedback
  clients/admin-ui/cypress/e2e/user-management.cy.ts
  clients/admin-ui/src/features/common/api.slice.ts
  clients/admin-ui/src/features/common/features/features.slice.ts
  clients/admin-ui/src/features/messaging/messaging.slice.ts
  clients/admin-ui/src/features/user-management/UserForm.tsx
  clients/admin-ui/src/types/api/models/CoreHealthCheck.ts
  clients/admin-ui/src/types/api/models/HealthCheck.ts
  src/fides/api/alembic/migrations/versions/4d34d270f3ea_table_updates_for_user_invite.py
  src/fides/api/api/v1/endpoints/health.py
  src/fides/api/api/v1/endpoints/messaging_endpoints.py
  src/fides/api/api/v1/endpoints/user_endpoints.py
  src/fides/api/models/fides_user_invite.py
  src/fides/api/schemas/application_config.py
  src/fides/api/schemas/messaging/messaging.py
  src/fides/api/service/messaging/message_dispatch_service.py
  src/fides/api/service/user/fides_user_service.py
  src/fides/common/api/v1/urn_registry.py
  src/fides/config/admin_ui_settings.py
  src/fides/config/config_proxy.py
  tests/conftest.py
Due: backend, admin-ui

Quebec data migration adjustments
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

Linting
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
Due: backend

Remove a few unused strings
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Update data/saas/config/simon_data_config.yml
  data/saas/config/simon_data_config.yml
Due: none
