Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Hide translation interface in notice/experience form when translations aren't enabled (#4728)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/MinimalPrivacyExperience.ts
  clients/admin-ui/src/types/api/models/MinimalProperty.ts
  clients/admin-ui/src/types/api/models/PrivacyExperienceResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/SupportedLanguage.ts
Due: admin-ui

WIP: submit privacy request form
  clients/admin-ui/src/features/privacy-requests/PrivacyRequestsContainer.tsx
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequest.tsx
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
Due: admin-ui

Deployed dd1f3297a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

revert accidental import path change
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

avoid any outline bleedover on focus
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

fix: upgrade framer-motion from 6.0.0 to 6.5.1
  clients/admin-ui/package.json
Due: admin-ui

PROD-1653 Update tests to reflect changes applied
  clients/admin-ui/cypress/e2e/systems-plus.cy.ts
Due: admin-ui

PROD-1653 format fixes
  clients/admin-ui/cypress/e2e/systems-plus.cy.ts
Due: admin-ui

Changes based on PR feedback
  clients/admin-ui/src/features/properties/DeletePropertyModal.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
Due: admin-ui

Fixing downrev
  src/fides/api/alembic/migrations/versions/7799269e7078_remove_cascade_delete_from_property.py
Due: backend

Changes based on PR feedback
  src/fides/api/models/privacy_request.py
  tests/fixtures/saas/test_data/saas_custom_privacy_request_fields_config.yml
  tests/ops/integration_tests/test_integration_custom_privacy_request_fields.py
  tests/ops/models/test_privacy_request.py
  tests/ops/service/connectors/test_saas_queryconfig.py
Due: backend

PROD-1653 Update tests
  clients/admin-ui/cypress/e2e/systems-plus.cy.ts
Due: admin-ui

PROD-1653 Disable editing of type of data use and name after it has b… (#4731)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/systems-plus.cy.ts
  clients/admin-ui/src/features/system/system-form-declaration-tab/PrivacyDeclarationForm.tsx
Due: admin-ui

Deployed ccd14a7ed to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

PROD-1863 Clean up table border lines
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
Due: admin-ui

PROD-1863 Add removed code back
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
Due: admin-ui

PROD-1863 Update changelog
  CHANGELOG.md
Due: none

Adding resume test
  src/fides/api/alembic/migrations/versions/ffca47b43275_add_encryption_key_to_privacy_request.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/util/cache.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Put data in the same order as input_keys instead for now
  src/fides/api/task/graph_task.py
Due: backend

Issues Seeding Data due to Import Issues with Multilang models (#4723)
  CHANGELOG.md
  src/fides/api/db/base.py
  src/fides/api/models/experience_notices.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Deployed 10816bc29 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add marking a privacy request as failed if all of its erasure tasks are completed or failed.
  src/fides/api/service/privacy_request/request_service.py
Due: backend

update key used to find translations_enabled on config settings response
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
Due: admin-ui

update Cypress fixture
  clients/admin-ui/cypress/support/stubs.ts
Due: admin-ui

update changelog
  CHANGELOG.md
Due: none

init commit
  data/saas/config/adyen_config.yml
  data/saas/dataset/adyen_dataset.yml
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

Quick initial changes
  data/saas/config/adyen_config.yml
Due: none

Update key used to determine translation status on config settings response (#4734)
  CHANGELOG.md
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
Due: admin-ui

Deployed e623a1f05 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Updating change log
  CHANGELOG.md
Due: none

Multi-value support for custom privacy request fields (#4686)
  CHANGELOG.md
  clients/admin-ui/src/features/privacy-requests/ApprovePrivacyRequestModal.tsx
  clients/admin-ui/src/features/privacy-requests/SubjectIdentities.tsx
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/util/saas_util.py
  tests/fixtures/saas/test_data/saas_custom_privacy_request_fields_config.yml
  tests/fixtures/saas/test_data/saas_custom_privacy_request_fields_dataset.yml
  tests/fixtures/saas/test_data/saas_example_config.yml
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
  tests/ops/integration_tests/test_integration_custom_privacy_request_fields.py
  tests/ops/models/test_privacy_request.py
  tests/ops/service/connectors/test_saas_queryconfig.py
  tests/ops/service/privacy_request/test_request_runner_service.py
  tests/ops/util/test_saas_util.py
Due: backend, admin-ui

Deployed 0b1b99475 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Explore building graph for backend consent propagation and running tasks individually - graph is simple, every node points to root and terminator node. Individual nodes have no dependencies currently.
  src/fides/api/alembic/migrations/versions/70e75b633abe_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/policy.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/task/graph_task.py
Due: backend

Fixing tests
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/models/test_privacy_request.py
Due: none
