Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Fixing privacy request form validation
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
  clients/privacy-center/types/config.ts
Due: privacy-center

fixes
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

updates
  tests/fixtures/saas/openweb_fixtures.py
Due: none

more fixes
  tests/fixtures/saas/openweb_fixtures.py
Due: none

fixes
  tests/fixtures/saas/openweb_fixtures.py
Due: none

fixes to config
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Finally, both tests passing! Thanks Adrian
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

fix cypress tests now that there are 2
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

more scalable config for modal vs banner
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
Due: none

refine a11y focus logic
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/LanguageSelector.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/consent-constants.ts
Due: none

Changes based on PR feedback
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/task/graph_task.py
  src/fides/api/util/collection_util.py
  tests/ops/util/test_collection_util.py
Due: backend

fixed up comments fixtures
  tests/fixtures/saas/openweb_fixtures.py
Due: none

black
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: backend

comment fixing
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Comment fixing
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

First pass done comments, functionality etc...
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Adding more tests
  src/fides/api/task/graph_task.py
  tests/ops/schemas/test_identity_schema.py
Due: backend

Clean up
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
Due: backend

making spot id sensitive
  data/saas/config/openweb_config.yml
Due: none

Undeclared data category helper functions
  src/fides/api/models/sql_models.py
  tests/conftest.py
  tests/ctl/core/test_privacy_declaration.py
  tests/ctl/core/test_system.py
Due: backend

PROD-1748 Translate privacy center consent page
  clients/fides-js/src/fides.ts
  clients/privacy-center/common/i18nContext.tsx
  clients/privacy-center/components/consent/ConsentDescription.tsx
  clients/privacy-center/components/consent/ConsentHeading.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/components/consent/SaveCancel.tsx
  clients/privacy-center/pages/_app.tsx
  clients/privacy-center/pages/consent.tsx
Due: privacy-center

PROD-1748 Replace yes/no buttons with visual toggle on privacy center consent page
  clients/privacy-center/components/consent/ConsentItem.tsx
  clients/privacy-center/components/consent/Toggle.tsx
Due: privacy-center

fixes to some documentation
  data/saas/config/openweb_config.yml
Due: none

Extend DSR 3.0 testing
  tests/ops/integration_tests/saas/request_override/test_firebase_auth_task.py
  tests/ops/integration_tests/saas/test_braze_task.py
  tests/ops/integration_tests/saas/test_recharge_tasks.py
  tests/ops/integration_tests/saas/test_square_task.py
  tests/ops/integration_tests/saas/test_stripe_task.py
  tests/ops/integration_tests/saas/test_unbounce_task.py
  tests/ops/integration_tests/test_enabled_actions.py
  tests/ops/integration_tests/test_integration_attentive.py
  tests/ops/integration_tests/test_integration_custom_privacy_request_fields.py
  tests/ops/integration_tests/test_integration_generic_email.py
Due: none

update constant to be generic
  clients/fides-js/src/components/LanguageSelector.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/consent-constants.ts
Due: none

Fixing down rev
  src/fides/api/alembic/migrations/versions/d49a767eb49d_convert_field_name_to_string_type.py
Due: backend

Include language switcher in the modal (#4773)
  CHANGELOG.md
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/LanguageSelector.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Deployed 40cef1a18 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Bump downrev after main merge.
  src/fides/api/alembic/migrations/versions/55bedede956d_requesttask.py
Due: backend

Add unit tests and integration tests for GET Request Tasks and GET Access Data.
  src/fides/api/alembic/migrations/versions/e4023342ebbb_add_modal_link_label_to_experience_.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/common/api/v1/urn_registry.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
Due: backend

Add changelog
  CHANGELOG.md
Due: none

hard-code inactive toggle color to grey
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/lib/consent.ts
Due: none

PROD-1748 Improve code
  clients/privacy-center/common/hooks/useI18n.ts
  clients/privacy-center/common/i18nContext.tsx
  clients/privacy-center/components/consent/ConsentDescription.tsx
  clients/privacy-center/components/consent/ConsentHeading.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/components/consent/SaveCancel.tsx
  clients/privacy-center/pages/consent.tsx
Due: privacy-center

Add API tests for queuing a task manually.
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
Due: backend

test: allow for AccessDenied error type to be skipped
  src/fides/connectors/aws.py
  src/fides/core/system.py
Due: backend

Updating sample project to fix smoke test
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
  src/fides/data/sample_project/privacy_center/config/config.json
Due: backend

pre-bundle GPP extension
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Fixing value fallback logic
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
Due: privacy-center
