Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Localize TcfTabs
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
Due: none

Format & lint
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Updating Fides JS script template
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
Due: admin-ui

Fixed placement of changelog notice
  CHANGELOG.md
Due: none

Localize *most* of the purpose/feature/vendor tabs
  clients/fides-js/src/components/PagingButtons.tsx
  clients/fides-js/src/components/tcf/EmbeddedVendorList.tsx
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Removed extraneous params
  data/saas/config/simon_data_config.yml
Due: none

Localize RadioGroup button labels
  clients/fides-js/src/components/tcf/RadioGroup.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/tcf/constants.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

remove unused function in data migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Update TCF tests for copy changes and start tidying
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Few updates from self-review
  clients/fides-js/src/components/tcf/InitialLayer.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

fix: bump snowflake-sqlalchemy to remove oscrypto transitive dependency (unmaintained package)
  requirements.txt
Due: none

chore: PROD-1697: Bump Debian base image and Python versions to latest (fides) (#4630)
  .github/workflows/backend_checks.yml
  .github/workflows/cli_checks.yml
  CHANGELOG.md
  Dockerfile
  docs/fides/Dockerfile
  requirements.txt
Due: none

Deployed 5eabf625d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix preview not updating language when language is selected
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
Due: admin-ui

require 'manage privacy preferences' link label
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

change 'add translation' button text
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Tidy up a few remaining TODOs
  clients/fides-js/src/components/tcf/RadioGroup.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/tcf/constants.ts
Due: none

Fixing migration comment and updating change log
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/3815b0db5b14_drop_key_column_from_property.py
Due: backend

PROD-1667 Link properties and experiences (#4658)
  .fides/db_dataset.yml
  CHANGELOG.md
  clients/admin-ui/cypress/fixtures/privacy-experiences/list.json
  clients/admin-ui/cypress/fixtures/properties/properties.json
  clients/admin-ui/src/app/store.ts
  clients/admin-ui/src/features/custom-assets/CustomAssetUploadButton.tsx
  clients/admin-ui/src/features/privacy-experience/JavaScriptTag.tsx
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/index.ts
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/pages/consent/properties/add-property.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/MinimalPrivacyExperience.ts
  clients/admin-ui/src/types/api/models/MinimalProperty.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  src/fides/api/alembic/migrations/versions/3815b0db5b14_drop_key_column_from_property.py
  src/fides/api/alembic/migrations/versions/69e51a460e66_add_plus_privacy_experience_config_table.py
  src/fides/api/db/base.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

refactor 'no preview' notice components
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
Due: admin-ui

UX for experience config form for TCF (#4673)
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Fix a subtle and hidden type error with our string enums in Typescript 4.9.5
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/tcf/constants.ts
  clients/fides-js/src/lib/tcf/purposes.ts
Due: none

Remove "N/A" option from retention period
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
Due: none

Don't localize "IAB TCF" as a string
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Add static.tcf.privacy_policy to all languages
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Update TCF privacy policy test
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Format, lint
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Sort all the messages.json keys alphabetically for sanity
  clients/fides-js/src/lib/i18n/locales/ar/messages.json
  clients/fides-js/src/lib/i18n/locales/bg/messages.json
  clients/fides-js/src/lib/i18n/locales/bs/messages.json
  clients/fides-js/src/lib/i18n/locales/ca/messages.json
  clients/fides-js/src/lib/i18n/locales/cs/messages.json
  clients/fides-js/src/lib/i18n/locales/da/messages.json
  clients/fides-js/src/lib/i18n/locales/de/messages.json
  clients/fides-js/src/lib/i18n/locales/el/messages.json
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es-MX/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/et/messages.json
  clients/fides-js/src/lib/i18n/locales/eu/messages.json
  clients/fides-js/src/lib/i18n/locales/fi/messages.json
  clients/fides-js/src/lib/i18n/locales/fr-CA/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/locales/gl/messages.json
  clients/fides-js/src/lib/i18n/locales/hi-IN/messages.json
  clients/fides-js/src/lib/i18n/locales/hr/messages.json
  clients/fides-js/src/lib/i18n/locales/hu/messages.json
  clients/fides-js/src/lib/i18n/locales/it/messages.json
  clients/fides-js/src/lib/i18n/locales/ja/messages.json
  clients/fides-js/src/lib/i18n/locales/lt/messages.json
  clients/fides-js/src/lib/i18n/locales/lv/messages.json
  clients/fides-js/src/lib/i18n/locales/mt/messages.json
  clients/fides-js/src/lib/i18n/locales/nl/messages.json
  clients/fides-js/src/lib/i18n/locales/no/messages.json
  clients/fides-js/src/lib/i18n/locales/pl/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-BR/messages.json
  clients/fides-js/src/lib/i18n/locales/pt-PT/messages.json
  clients/fides-js/src/lib/i18n/locales/ro/messages.json
  clients/fides-js/src/lib/i18n/locales/ru/messages.json
  clients/fides-js/src/lib/i18n/locales/sk/messages.json
  clients/fides-js/src/lib/i18n/locales/sl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Cyrl/messages.json
  clients/fides-js/src/lib/i18n/locales/sr-Latn/messages.json
  clients/fides-js/src/lib/i18n/locales/sv/messages.json
  clients/fides-js/src/lib/i18n/locales/tr/messages.json
  clients/fides-js/src/lib/i18n/locales/uk/messages.json
  clients/fides-js/src/lib/i18n/locales/zh/messages.json
Due: none

Tidy up some TODOs
  clients/fides-js/src/components/tcf/EmbeddedVendorList.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
Due: none

Changes based on PR feedback
  clients/privacy-center/__tests__/common/property-id.test.ts
  clients/privacy-center/common/property-id.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Update README.md
  README.md
Due: none

chore: bump node base image version
  Dockerfile
  clients/sample-app/Dockerfile
Due: none

chore: bump node version in CI/CD
  .github/workflows/frontend_checks.yml
  .github/workflows/publish_package.yaml
Due: none

chore: bump cypress node version
  .github/workflows/cypress_e2e.yml
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

chore: no-op whitespace change to trigger vercel deployment
  clients/admin-ui/README.md
Due: admin-ui

chore: revert whitespace change to pass CI prettier test
  clients/admin-ui/README.md
Due: admin-ui

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
