Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

additional polish to config form
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

feat: working access request
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

fix collapse for 'dismissable' toggle
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

fix: corrected python-dev package name
  Dockerfile
  docs/fides/Dockerfile
Due: none

Add current_preference to TCF types on fides-js
  clients/fides-js/src/lib/tcf/types.ts
Due: none

Continue updating fides-js test data
  clients/fides-js/__tests__/lib/consent-utils.test.ts
Due: none

Update additional test mocks
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

Format & lint
  clients/fides-js/__tests__/lib/consent-utils.test.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Fixing downrev
  src/fides/api/alembic/migrations/versions/26d5976531d6_add_property_table.py
Due: backend

Adding missing dataset annotations
  .fides/db_dataset.yml
Due: none

Updating nav bar links in Cypress tests
  clients/admin-ui/cypress/e2e/nav-bar.cy.ts
  clients/admin-ui/cypress/e2e/systems.cy.ts
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
Due: admin-ui

improvements to layout, update labels
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

feat: working oracle responsys erasure request
  data/saas/config/oracle_responsys_config.yml
  data/saas/dataset/oracle_responsys_dataset.yml
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

Fixing Cypress tests
  clients/admin-ui/cypress/e2e/config-wizard-plus.cy.ts
  clients/admin-ui/cypress/e2e/nav-bar.cy.ts
  clients/admin-ui/cypress/e2e/systems-classify.cy.ts
Due: admin-ui

Revert "Again"
  clients/privacy-center/pages/index.tsx
Due: privacy-center

Revert "Add downtime notice"
  clients/privacy-center/pages/index.tsx
Due: privacy-center

Additional cleanup
  clients/admin-ui/cypress/e2e/properties.cy.ts
  clients/admin-ui/cypress/fixtures/properties/properties.json
  clients/admin-ui/src/features/common/privacy-notice-regions.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/privacy-center/types/api/models/PrivacyNoticeRegion.ts
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/property.py
  src/fides/api/tasks/__init__.py
  src/fides/api/util/consent_util.py
  tests/ops/models/test_property.py
Due: backend, admin-ui, privacy-center

More cleanup
  CHANGELOG.md
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/system/history/SystemHistoryTable.tsx
  clients/admin-ui/src/flags.json
Due: admin-ui

Removing newline
  src/fides/api/tasks/__init__.py
Due: backend

Revise from updateMessages* -> loadMessages*
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Format
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

minor CR cleanup
  clients/fides-js/__tests__/lib/consent-utils.test.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Update maximum fidesjs/fidestcf bundle size to 30k/45k
  clients/fides-js/rollup.config.mjs
Due: none

Delint post-merge conflicts
  clients/fides-js/src/components/ConsentContent.tsx
Due: none

Respond to CR, improve test coverage.
  .fides/db_dataset.yml
  src/fides/api/models/privacy_experience.py
  src/fides/api/schemas/locations.py
  tests/ops/models/test_location_regulation_selections.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Running lint fix
  clients/admin-ui/cypress/e2e/properties.cy.ts
Due: admin-ui

Properties page
  .fides/db_dataset.yml
  clients/admin-ui/cypress/e2e/config-wizard-plus.cy.ts
  clients/admin-ui/cypress/e2e/nav-bar.cy.ts
  clients/admin-ui/cypress/e2e/properties.cy.ts
  clients/admin-ui/cypress/e2e/systems-classify.cy.ts
  clients/admin-ui/cypress/e2e/systems.cy.ts
  clients/admin-ui/cypress/fixtures/properties/properties.json
  clients/admin-ui/src/features/common/Icon/Copy.tsx
  clients/admin-ui/src/features/common/Icon/TrashCanOutlineIcon.tsx
  clients/admin-ui/src/features/common/api.slice.ts
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/common/nav/v2/BackButton.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/common/nav/v2/routes.ts
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/AddPropertyButton.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/features/system/add-multiple-systems/AddMultipleSystems.tsx
  clients/admin-ui/src/flags.json
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/pages/consent/properties/add-property.tsx
  clients/admin-ui/src/pages/consent/properties/index.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/Page_Property_.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/PropertyType.ts
  clients/cypress-e2e/cypress/e2e/smoke_test.cy.ts
  src/fides/api/alembic/migrations/versions/26d5976531d6_add_property_table.py
  src/fides/api/db/base.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Update location setting methods to also calculate and set location groups, to centralize where this is happening.
  src/fides/api/models/location_regulation_selections.py
  tests/ops/models/test_location_regulation_selections.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Reuse test __fixtures__ in fides-js
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/__fixtures__/mock_experience_no_translations.json
  clients/fides-js/__tests__/lib/consent-utils.test.ts
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
Due: none

Improve code comments.
  CHANGELOG.md
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/schemas/locations.py
  tests/ops/models/test_location_regulation_selections.py
Due: backend

Add better sharing of test fixtures and some debug logs
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/i18n/i18n-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

feat: finish tests for Oracle Responsys
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Cleanup a few more TODOs
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/__fixtures__/mock_experience_no_translations.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Data model field changes - remove custom_asset_id and add auto_detect_language fields
  .fides/db_dataset.yml
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
Due: backend

Linter and test fixes
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_service.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Linting -
  src/fides/api/models/privacy_experience.py
Due: backend

Improve experience message extraction
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Update types for extracting messages from PrivacyNotices
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
