Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Support language switching in Fides JS banner (#4737)
  CHANGELOG.md
  clients/fides-js/README.md
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/Button.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/MenuItem.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/i18n/i18n-context.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
  clients/fides-js/src/lib/renderOverlay.tsx
  clients/fides-js/src/lib/tcf/renderOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Deployed e4ec5f7ef to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add some docs about docs:generate
  clients/fides-js/README.md
  clients/fides-js/src/docs/index.ts
Due: none

Rename "FidesOptions" -> "FidesInitOptions"
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/services/api.ts
Due: none

Rename usage of FidesOptions -> FidesInitOptions
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: admin-ui, privacy-center

Rename FidesOptionsOverrides -> FidesInitOptionsOverrides
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Update some docs to explain a bit about FidesInitOptionsOverrides
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
Due: none

Rename OverrideOptions -> FidesOptions
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Update usage of OverrideOptions -> FidesOptions
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
Due: none

Switch over to using FidesOptions from src/docs
  clients/fides-js/src/lib/consent-types.ts
Due: none

Run docs:generate
  clients/fides-js/docs/interfaces/FidesEvent.md
Due: none

Format, lint
  clients/fides-js/src/lib/consent-types.ts
Due: none

remove unneeded env vars for preview mode
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

add changelog
  CHANGELOG.md
Due: none

PROD-1714 Add overlay and block scrolling when non dismissable banner is showing
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/ui-utils.ts
Due: none

Replace Javascript -> JavaScript
  clients/fides-js/docs/README.md
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/docs/interfaces/FidesOptions.md
  clients/fides-js/package.json
  clients/fides-js/src/docs/fides-options.ts
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/docs/index.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  docs/fides/docs/development/development_tips.md
Due: none

Show modal link options with <button>, <a role="button">, etc.
  clients/fides-js/src/docs/fides.ts
Due: none

Fix Fides.init() docs
  clients/fides-js/src/docs/fides.ts
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

PROD-1714 Implement overlay and blocking scroll for non-dismissable tcf banner
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
Due: none

adds e2e tests, overall cleanup
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/style-utils.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
Due: privacy-center

Fix repository dispatch action
  .github/workflows/release_event.yml
Due: none

add new Cypress tests for experience config form
  clients/admin-ui/cypress/e2e/locations-regulations.cy.ts
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-experiences/experienceConfig.json
  clients/admin-ui/cypress/fixtures/privacy-notices/list.json
  clients/admin-ui/cypress/support/commands.ts
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
Due: admin-ui

PROD-1714 Add overlay and block scrolling when non dismissable TCF banner is showing
  CHANGELOG.md
Due: none

PROD-1714 Standarize props for dismissable
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

fix build failure
  clients/admin-ui/src/features/properties/PropertyForm.tsx
Due: admin-ui

Formatting
  clients/fides-js/src/lib/ui-utils.ts
Due: none

Add connectors team to CODEOWNERS (#4643)
  .github/CODEOWNERS
Due: none

address CR
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Deployed 83574328b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

PROD-1828: Cleanup config vars for preview in Admin-UI (#4745)
  CHANGELOG.md
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

Deployed 19d0c70a6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update privacy notice list fixture for compatibility with existing tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-notices/list.json
Due: admin-ui

disable example privacy notice
  clients/admin-ui/cypress/fixtures/privacy-notices/list.json
Due: admin-ui

PROD-1714 Add class to block scroll instead of manually adding styles
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/lib/ui-utils.ts
  docs/fides/docs/css/fides.css
Due: none

add back options param
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
