Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Make "language" nullable on privacy notice history and privacy experience config history instead of attempting to backfill.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
Due: backend

Continue refactoring to support experience & notice history IDs for reporting APIs
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/a11y-dialog.tsx
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Move the dropping of the privacy experience config history > experience config id foreign key to the expand migration so we can delete experience configs in the data migration.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

Fix tests
  tests/ctl/core/test_user.py
Due: none

Fix PROD-1744 by removing use of deprecated experience config IDs
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
Due: privacy-center

Remove extraction of messages from notices into i18n catalog
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Cleanup GPC badge
  clients/fides-js/src/components/GpcBadge.tsx
Due: none

Continue cleaning up TODOs
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Ignore 404 - Kustomer and Delighted (#4593)
  CHANGELOG.md
  data/saas/config/delighted_config.yml
  data/saas/config/kustomer_config.yml
Due: none

Remove "Customize appearance" button
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Update a few types for correctness
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/types/api/models/PrivacyPreferencesRequest.ts
Due: privacy-center

Deployed 1c2bed4c2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add CHANGELOG note
  CHANGELOG.md
Due: none

Add unit tests for selectBestExperienceConfigTranslation
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/preferences.ts
Due: none

Put the change in the correct spot this time
  CHANGELOG.md
Due: none

Add new DeprecatedNoticeRegion for use on PrivacyNoticeHistory column where we're retaining the deprecated regions field.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Additional TODO cleanup!
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/tcf.ts
Due: none

Sort imports on NoticeOverlay... just a bit!
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

Format
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

better handle canada experience + notices
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

lint fix
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

fix up migration logic
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Revert E2E test changes from #4527 to expect Fides.consent to be initialized
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Test some uniqueness constraints.
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: none

Bidirectional linking of properties and privacy experiences
  clients/admin-ui/src/app/store.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/index.ts
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

multilang data migration (#4636)
  MANIFEST.in
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/location_regulation_selections.py
  src/fides/data/location/locations.yml
  tests/ops/models/test_location_regulation_selections.py
Due: backend

Rearrange the overrides so they are nullable on the base fields and we override the classes where they need to be required instead of vice versa for mypy.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Bump downrev
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
Due: backend

Remove backfilling language and set auto_detect_language from templates -
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Experiment: try updating the cookie *after* the experience
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Add language on the new experience config history record.
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Removing properties from history data
  src/fides/api/models/privacy_experience.py
Due: backend

Experiment: ensure GPC helper is async/awaited
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Misc fixes
  src/fides/api/models/property.py
Due: backend

Special case to not add regions other than OOB regions to canadian notice.
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/models/location_regulation_selections.py
Due: backend

Comma makes the SQL query invalid.
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Add code comments
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
Due: backend

re-fix isRegulated toggle for locations
  clients/admin-ui/src/features/locations/LocationPickerCard.tsx
  clients/admin-ui/src/features/locations/transformations.ts
Due: admin-ui

Add restored columns back to historical schemas in dataset yaml file.
  .fides/db_dataset.yml
Due: none
