Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Consolidate the location model and schema code since there are several dependencies between them.
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/locations.py
  tests/ops/models/test_location_regulation_selections.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Remove unused (and incomplete) "components" exported module
  clients/fides-js/src/components/index.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
Due: none

WIP: update privacy notice form
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/form.ts
Due: admin-ui

Updated CHANGELOG.md for release 2.31.0 (#4645)
  CHANGELOG.md
Due: none

Deployed 14aad9bce to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

change enable toggle to use limited_update endpoint in privacy experiences table
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
Due: admin-ui

Implement (most of) static GPC labels
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/DataUseToggle.tsx
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/components/GpcInfo.tsx
  clients/fides-js/src/components/PagingButtons.tsx
  clients/fides-js/src/components/PrivacyPolicyLink.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Adding edit functionality for properties
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/pages/consent/properties/add-property.tsx
  clients/admin-ui/src/types/api/models/Property.ts
  src/fides/api/alembic/migrations/versions/3815b0db5b14_drop_key_column_from_property.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Update changelog
  CHANGELOG.md
Due: none

Fides Location X Privacy Experience Filtering (#4620)
  .fides/db_dataset.yml
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/0c65325843bd_add_location_groups_column.py
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/util/consent_util.py
  src/fides/data/location/__init__.py
  src/fides/data/location/locations.yml
  tests/ops/models/test_location_regulation_selections.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Update backend changelog items after main merge with new release details.
  CHANGELOG.md
Due: none

adds desktop/mobile preview, adds save button label
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/fides-js/src/components/Overlay.tsx
Due: admin-ui

fix toggle and formatting
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

fix lint errors
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

remove search
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
Due: admin-ui

update Cypress tests for new enable/disable
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
Due: admin-ui

fix cy tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
Due: admin-ui

lint and format
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

fix type error
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
Due: admin-ui

type fix
  clients/admin-ui/src/features/common/table/v2/cells.tsx
Due: admin-ui

lint fix
  clients/admin-ui/src/features/common/table/v2/cells.tsx
Due: admin-ui

update privacy notice form
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/form.ts
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

diff default notice text
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

more tweaks and cleanup of migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

Update test translations from es-MX -> es
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Format, lint
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

fix up some bugs
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

backup important tables to disk
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

bump downrev, adjust migration name
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Fix "enable/disable" toggle in privacy experience table (#4647)
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
Due: admin-ui

get experience config defaults up to date
  src/fides/api/alembic/privacy_experience_config_defaults.yml
Due: backend

update notice table to use new limited_update endpoint
  clients/admin-ui/src/features/privacy-notices/cells.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

fix x button overwriting save preferences
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/shared-consent-utils.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
Due: privacy-center

lint / format
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/shared-consent-utils.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
Due: privacy-center

remove testing change
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
Due: admin-ui

adds changelog
  CHANGELOG.md
Due: none

WIP: fix Cypress tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
Due: admin-ui

Updating icon
  data/saas/icon/oracle_responsys.svg
Due: none
