Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

remove references to now-deprecated cors_domain_regex property
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

update Cypress tests
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-notices/notice.json
Due: admin-ui

Add (partial) translations to TCF experience fixture
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Revert changes to filter regions exposed on Privacy Experience Configs and Privacy Notices by location. We are moving to a paradigm where these should always be a subset of locations.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Add tests for english language translations for banner/modal
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Updating change log
  CHANGELOG.md
Due: none

Deployed cc9409cd4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add (failing) tests for Spanish translations
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

remove .only
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
Due: admin-ui

.skip privacy notice tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
Due: admin-ui

.skip another privacy notice test
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
Due: admin-ui

fix: upgrade next from 12.2.5 to 12.3.4
  clients/privacy-center/package.json
Due: privacy-center

fix: upgrade next-swagger-doc from 0.3.6 to 0.4.0
  clients/privacy-center/package.json
Due: privacy-center

force-click in some datasets tests
  clients/admin-ui/cypress/e2e/datasets.cy.ts
Due: admin-ui

Skip failing tests and add some follow-up TODOs
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Formatting fixes
  .fides/db_dataset.yml
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/service/privacy_request/request_runner_service.py
  tests/ops/service/connectors/test_saas_connector.py
  tests/ops/service/connectors/test_saas_queryconfig.py
Due: backend

bump downrev
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

fix typo
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

remove (temporarily) origin link
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

data migration for experiences and notices
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

attempt to create experience config templates in migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

tweaks to initial schema migration to allow for clean data migration
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

get experience config template creation working
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

fix existing config bug; fix file loading logic
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

get experience configs linked to origin templates
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

Improve flaky test
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Misc fixes
  src/fides/api/alembic/migrations/versions/ffca47b43275_add_encryption_key_to_privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/models/test_privacy_request.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

handle edge case for unlinked experience configs; add some logging
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

adds condition for opt-in notices that should not show banner
  clients/fides-js/src/fides-ext-gpp.ts
Due: none

update privacy notice page to use new table
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

Update existing FidesJS E2E tests with multilang translations and add initial i18n tests (#4639)
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/e2e/consent.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/notices_served.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/cypress/support/mocks.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Begin refactoring *all* the test data to have translations, test-friendly IDs, etc.
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/notices_served.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/cypress/support/mocks.ts
Due: privacy-center

Rename for clarity
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Continue refactoring E2E test data
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
Due: privacy-center

Rename a few test files for consistency
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_overlay.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
