Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Fix ExperienceConfig.update method which makes use of the ExperienceConfig.regions property, which is now filtering on locations. This needs to use a separate query, unaffected by locations.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/locations.py
  src/fides/data/location/locations.yml
  tests/ops/models/test_privacy_experience.py
Due: backend

I believe our extra regions logic is causing PrivacyExperienceConfig.experiences to be lazy loaded which will fail for dry updates that aren't bound to a Session.
  src/fides/api/models/privacy_experience.py
  tests/ops/models/test_privacy_experience.py
Due: backend

Minimal implementation of an i18n library for FidesJS
  clients/fides-js/__tests__/lib/i18n/i18n.test.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/i18n/setupI18n.ts
Due: none

Rename to i18n-utils in tests
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
Due: none

Stub out a few more i18n utils to use in FidesJS
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Stub out tests for detecting user locale
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

Add stub tests for locale matching
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add more test stubs
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Implement updateMessagesFromFiles
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add a SIMPLIFIED_LOCALE_REGEX for safety
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add fidesLocale override option (I think)
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
Due: none

fix NPM issue with framer-motion version
  clients/admin-ui/package.json
Due: admin-ui

Rename message dictionary -> catalog to match industry jargon
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

Harden locale regex
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Implement user locale detection & override
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Formatting and de-linting as we go along
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Tweak updateMessages* to return the list of updated locales
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Initialize i18n during FidesJS initialize
  clients/fides-js/src/lib/initialize.ts
Due: none

Swap out modal title & description for static i18n messages
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
Due: none

Explicitly pass an i18n prop (instead of using global context)
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Set default version to stable with mike 1.1.2
  index.html
Due: none

configure logger on worker initialization
  src/fides/api/tasks/__init__.py
Due: backend

Initial implementation of extracting strings from experience API
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/__tests__/lib/i18n/mock_experience.json
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/i18n/locales/fr/messages.json
  clients/fides-js/src/lib/initialize.ts
Due: none

Combine catalogs in our i18n module
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

Minor tidying as we go along
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

update fides-js to handle new GET privacy-experience format
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/services/api.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

fides components show up with real BE data
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

test with real BE, update some types
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/types/api/models/ExperienceConfigResponse.ts
  clients/privacy-center/types/api/models/ExperienceConfigTranslation.ts
  clients/privacy-center/types/api/models/PrivacyExperienceResponse.ts
Due: privacy-center

update based on CR- mostly renaming vars
  clients/admin-ui/public/lib/fides-ext-gpp.js
  clients/admin-ui/public/lib/fides-tcf.js
  clients/admin-ui/public/lib/fides.js
  clients/fides-js/__tests__/lib/gpp/us-notices.ts
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/cypress/fixtures/consent/experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/cypress/support/mocks.ts
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/types/api/models/ExperienceConfigTranslation.ts
Due: admin-ui, privacy-center

remove console logs
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/services/api.ts
  clients/privacy-center/components/consent/PrivacyPolicyLink.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

format
  clients/fides-js/__tests__/lib/gpp/us-notices.ts
Due: none

handle new expected resp body for patch notices served and save user prefs
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
Due: privacy-center

adds more expected props on test data
  clients/privacy-center/cypress/fixtures/consent/experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
Due: privacy-center

replace overlay concept with banner_and_modal
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/services/api.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/types/api/models/ComponentType.ts
  clients/privacy-center/types/api/models/ServingComponent.ts
Due: privacy-center

update unit test
  clients/fides-js/__tests__/lib/gpp/us-notices.ts
Due: none

update privacy center, TCF, and fix most e2e tests to handle updated BE
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/services/api.ts
  clients/privacy-center/components/consent/ConsentDescription.tsx
  clients/privacy-center/components/consent/ConsentHeading.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/components/consent/PrivacyPolicyLink.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/overlay_experience.json
  clients/privacy-center/cypress/fixtures/consent/test_banner_options.json
  clients/privacy-center/cypress/support/mocks.ts
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/types/api/models/ComponentType.ts
  clients/privacy-center/types/api/models/ExperienceConfigResponse.ts
  clients/privacy-center/types/api/models/ExperienceConfigTranslation.ts
  clients/privacy-center/types/api/models/PrivacyExperienceResponse.ts
  clients/privacy-center/types/api/models/PrivacyNoticeResponseWithUserPreferences.ts
  clients/privacy-center/types/api/models/PrivacyNoticeTranslations.ts
Due: privacy-center

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
