Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Fix bug in serializing ObjectFields from the stored RequestTask in the database
  src/fides/api/graph/config.py
Due: backend

Remove this hack after I fixed it properly on main.
  tests/ops/integration_tests/setup_scripts/postgres_setup.py
Due: none

Remove some methods that have shifted to other classes or I think are unused. Will revisit of course.
  src/fides/api/graph/execution.py
  src/fides/api/graph/traversal.py
  src/fides/api/task/graph_task.py
Due: backend

Comment out moved function imports in tests so the collect-tests step will pass. Want to see what the damage is.
  tests/ops/task/test_graph_task.py
Due: none

Experimenting with how async work ties in - pausing a task, resuming a task via a callback when the asynchronous work is complete.
  src/fides/api/alembic/migrations/versions/b21343172e81_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/common_exceptions.py
  src/fides/api/graph/execution.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/task/graph_task.py
  src/fides/common/api/v1/urn_registry.py
Due: backend

Fix bug - skipped tasks are complete tasks, so shouldn't be considered incomplete.
  src/fides/api/task/create_tasks.py
Due: backend

Remove some of the caching methods from TaskResources and stop caching results in Redis since I"m saving them on RequestTask -
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
Due: backend

Some sorting/formatting
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/privacy_request.py
  src/fides/api/service/connectors/manual_connector.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
  src/fides/common/api/v1/urn_registry.py
  tests/ops/task/test_graph_task.py
Due: backend

Store access data/data in erasure format as strings using json.dump the same way we do in redis - the CustomJSONEncoder already has handling for datetimes, things like object ids, etc.
  src/fides/api/alembic/migrations/versions/b21343172e81_privacyrequesttask.py
  src/fides/api/models/privacy_request.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
Due: backend

Remove write_execution_log from TaskResources - just trying to keep that a container
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
Due: backend

Some formatting -
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/graph/execution.py
  src/fides/api/graph/traversal.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/manual_connector.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
Due: backend

Restore making run_privacy_requst async and adding the @sync decorator back to it - it was temporarily removed early so I didn't have to dwell on Ran into running event loop errors
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/execute_tasks.py
Due: backend

As we upload the filtered access results to the user, combined with the manual data, save the filtered results to the access terminator task.
  src/fides/api/alembic/migrations/versions/2ee817d99f86_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
Due: backend

Add a task that removes access data and data for erasures after the ttl has passed.
  src/fides/api/alembic/migrations/versions/2ee817d99f86_privacyrequesttask.py
  src/fides/api/alembic/migrations/versions/bf08faedf508_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/main.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/common/api/v1/urn_registry.py
Due: backend

Update POC DSR_DATA_REMOVAL task to just delete old request tasks instead of selectively deleting data - this query could get expensive otherwise.
  src/fides/api/service/privacy_request/request_service.py
Due: backend

Remove other cache_data_use_map instances
  src/fides/api/alembic/migrations/versions/bf08faedf508_privacyrequesttask.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/service/storage/storage_uploader_service.py
  src/fides/api/tasks/storage.py
Due: backend

Remove the async methods again - need to explore this further - getting issues with running event loop still when i try to queue one task within another task.
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
Due: backend

Don't log the collection when caching failed checkpoint details now that we're running in parallel - multiple collections can fail, it's not useful anymore.
  src/fides/api/task/graph_task.py
Due: backend

Catch errors if we can't hydrate the GraphTask from the database. This is likely unrecoverable
  src/fides/api/alembic/migrations/versions/bf08faedf508_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/common_exceptions.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
Due: backend

Formatting -
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/service/storage/storage_uploader_service.py
  src/fides/api/tasks/storage.py
Due: backend

Set rows_masked before commit that runs in update_status -
  src/fides/api/task/graph_task.py
Due: backend

Fix the dry run queries - we have to mock different objects now -
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/graph_task.py
Due: backend

Remove the unused "original" Manual Connector that was later replaced by the "Manual Webhook" connector which we use today.
  src/fides/api/models/connectionconfig.py
  src/fides/api/service/connectors/__init__.py
  src/fides/api/service/connectors/manual_connector.py
  src/fides/api/task/task_resources.py
  tests/ops/models/test_privacy_request.py
Due: backend

Experiment with a separate endpoint if we had a scheduling error and wanted to reprocess a specific task.
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/task/execute_tasks.py
  src/fides/common/api/v1/urn_registry.py
  tests/ops/models/test_privacy_request.py
Due: backend

add testid to submit button to fix tests
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequestForm.tsx
Due: admin-ui

Making polling interval configurable.
  src/fides/api/service/privacy_request/request_service.py
  src/fides/config/execution_settings.py
Due: backend

change order of 'wait' statement
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
Due: admin-ui

remove .only
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
Due: admin-ui

Make request task, a first class object now, an argument into retrieve_data, mask_data, and run_consent_request
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/graph/execution.py
  src/fides/api/service/connectors/__init__.py
  src/fides/api/service/connectors/base_connector.py
  src/fides/api/service/connectors/dynamodb_connector.py
  src/fides/api/service/connectors/fides_connector.py
  src/fides/api/service/connectors/http_connector.py
  src/fides/api/service/connectors/manual_webhook_connector.py
  src/fides/api/service/connectors/mongodb_connector.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/service/connectors/sql_connector.py
  src/fides/api/task/execute_tasks.py
  src/fides/api/task/graph_task.py
  tests/ops/graph/graph_test_util.py
  tests/ops/models/test_privacy_request.py
Due: backend

hide hidden fields
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
  clients/admin-ui/cypress/fixtures/privacy-requests/privacy-center-config.json
  clients/admin-ui/src/features/privacy-requests/SubmitPrivacyRequestForm.tsx
  clients/admin-ui/src/features/privacy-requests/form/helpers.ts
Due: admin-ui

add check for error in Cypress test
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
Due: admin-ui

Cypress test fix
  clients/admin-ui/cypress/e2e/privacy-requests.cy.ts
Due: admin-ui

added better icon
  data/saas/icon/iterable.svg
Due: none

Fixed icon and spacing in changelog
  CHANGELOG.md
Due: none

adds overrides for experience text and overlay primary color
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/style-utils.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

restore CORS domain regex to domains page
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

rename env var
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-constants.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/consent.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/public/fides-js-components-demo.html
Due: privacy-center

update changelog
  CHANGELOG.md
Due: none

Rename src/types -> src/docs for clarity
  clients/fides-js/package.json
  clients/fides-js/src/docs/fides-event.ts
  clients/fides-js/src/docs/fides-options.ts
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/docs/index.ts
  clients/fides-js/src/lib/events.ts
Due: none

warn: start refactoring "type Fides" everywhere
  clients/fides-js/src/docs/fides-event.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
