Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

add CUSTOM_OPTIONS_PATH to env vars (#4769)
  CHANGELOG.md
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

Fides adyen erasure integration (#4735)
  CHANGELOG.md
  data/saas/config/adyen_config.yml
  data/saas/dataset/adyen_dataset.yml
  data/saas/icon/adyen.svg
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: backend

Deployed 4101e02d5 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update changelog for release 2.33.1
  CHANGELOG.md
Due: none

Deployed 05d8b2556 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update changelog for release 2.33.1 (#4770)
  CHANGELOG.md
Due: none

Deployed 064362e3a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Updating Privacy Center form to support custom identities
  clients/privacy-center/components/modals/privacy-request-modal/PrivacyRequestForm.tsx
  clients/privacy-center/types/config.ts
Due: privacy-center

update all possible translation configs
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/privacy-center/types/api/models/ExperienceTranslationResponse.ts
Due: privacy-center

add unit tests
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Set default version to stable with mike 1.1.2
  index.html
Due: none

fix interface
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Provide the modal link label function on Fides object (#4766)
  CHANGELOG.md
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-constants.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/public/fides-js-demo.html
  clients/privacy-center/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/privacy-center/types/api/models/ExperienceTranslationResponse.ts
Due: privacy-center

Deployed 71a1d7e94 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

match display languages with Admin UI
  clients/fides-js/src/lib/i18n/locales/index.ts
Due: none

display english version in tooltip on hover
  clients/fides-js/src/components/ConsentButtons.tsx
Due: none

Updating Admin UI to support new identity format
  clients/admin-ui/src/features/privacy-requests/RequestDetails.tsx
  clients/admin-ui/src/features/privacy-requests/RequestRow.tsx
  clients/admin-ui/src/features/privacy-requests/SubjectIdentities.tsx
  clients/admin-ui/src/features/privacy-requests/types.ts
  clients/privacy-center/config/config.json
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/schemas/test_identity_schema.py
Due: backend, admin-ui, privacy-center

Temp logging change
  noxfiles/setup_tests_nox.py
Due: none

Build a dist/fides-types.d.ts file that includes our documented, non-internal types
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/docs/fides-event.ts
  clients/fides-js/src/docs/fides-options.ts
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/docs/index.ts
  clients/fides-js/tsconfig.json
Due: none

Format, lint
  clients/fides-js/rollup.config.mjs
Due: none

Fix comment
  clients/fides-js/src/docs/index.ts
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

clean up language button
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/LanguageSelector.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

include and position language switcher in modal
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/fides.css
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
Due: none

Expand test coverage for DSR 3.0.
  .fides/fides.toml
  requirements.txt
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/common_exceptions.py
  src/fides/api/graph/execution.py
  src/fides/api/graph/graph.py
  src/fides/api/models/privacy_request.py
  src/fides/api/task/create_request_tasks.py
  src/fides/api/task/execute_request_tasks.py
  tests/conftest.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/saas/sentry_fixtures.py
  tests/ops/models/test_request_task.py
  tests/ops/task/test_create_request_tasks.py
  tests/ops/task/test_execute_request_tasks.py
Due: backend

PROD-1880 Add unit tests for useFidesLang hook
  clients/admin-ui/src/features/common/hooks/useFidesLang.test.ts
Due: admin-ui

PROD-1180 Apply linting fixes
  clients/admin-ui/src/features/common/hooks/useFidesLang.test.ts
  clients/admin-ui/src/features/common/hooks/useFidesLang.tsx
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Prod-1880 update changelog
  CHANGELOG.md
Due: none

Work on adjusting tests that were relying on postgres databases to be live -
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_request_tasks.py
  src/fides/api/task/execute_request_tasks.py
  src/fides/api/task/graph_runners.py
  tests/conftest.py
  tests/fixtures/application_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_iterable_task.py
  tests/ops/integration_tests/test_sql_task.py
  tests/ops/task/test_create_request_tasks.py
Due: backend
