Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

updates
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
Due: backend

Text Correction
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
Due: backend

Black pass
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
  tests/fixtures/saas/adyen_fixtures.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: backend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

PROD-1880 Add new useFidesLang hook to fetch and display user friendly names
  clients/admin-ui/src/features/common/hooks/useFidesLang.tsx
Due: admin-ui

Provide the modal link label function on Fides objecet
  clients/fides-js/docs/interfaces/Fides.md
  clients/fides-js/src/docs/fides.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-constants.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/public/fides-js-components-demo.html
  clients/privacy-center/public/fides-js-demo.html
Due: privacy-center

Fixing cache tests
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/models/test_privacy_request.py
Due: none

Removing unused import
  src/fides/api/schemas/redis_cache.py
Due: backend

Set default version to stable with mike 1.1.2
  index.html
Due: none

add the modal_link_label prop to the EXPERIENCE_TRANSLATION_FIELDS const
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

updates from PR feedback
  clients/fides-js/src/lib/initialize.ts
Due: none

Add tests on erase_after and erasure order around how upstream and downstream tasks are created.
  data/saas/config/saas_erasure_order_config.yml
  data/saas/dataset/saas_erasure_order_dataset.yml
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/graph/traversal.py
  src/fides/api/task/create_request_tasks.py
  src/fides/api/task/deprecated_graph_task.py
  src/fides/api/task/execute_request_tasks.py
  src/fides/api/task/graph_runners.py
  tests/conftest.py
  tests/ops/task/test_create_request_tasks.py
Due: backend

Fixing test
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
Due: none

Fixing integration test
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: none

PROD-1880 Add coments
  clients/admin-ui/src/features/common/hooks/useFidesLang.tsx
Due: admin-ui

add modal link label to experience model
  src/fides/api/alembic/migrations/versions/e4023342ebbb_add_modal_link_label_to_experience_.py
  src/fides/api/models/privacy_experience.py
  tests/fixtures/application_fixtures.py
  tests/ops/models/test_privacy_experience.py
Due: backend

in progress
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

add changelog
  CHANGELOG.md
Due: none

PROD-1880 Implement user readable names for fideslang in report table
  clients/admin-ui/src/features/common/hooks/useFidesLang.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

adds dataset annotations
  .fides/db_dataset.yml
Due: none

show 'allow dismissal' toggle when editing TCF experience
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

rebase onto main
  CHANGELOG.md
Due: none

Show 'allow dismissal' toggle when editing TCF experience (#4755)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
Due: admin-ui

Deployed 9c5dd343f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update data/saas/config/adyen_config.yml
  data/saas/config/adyen_config.yml
Due: none

fix: remove country from stripe dataset card
  data/saas/dataset/stripe_dataset.yml
Due: none

feat: make card a delete instead of update
  data/saas/config/stripe_config.yml
Due: none

Iterable Erasure Integration (#4695)
  CHANGELOG.md
  data/saas/config/iterable_config.yml
  data/saas/dataset/iterable_dataset.yml
  data/saas/icon/iterable.svg
  tests/fixtures/saas/iterable_fixtures.py
  tests/ops/integration_tests/saas/test_iterable_task.py
Due: none

Deployed 479a353d0 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Updating tests
  data/saas/config/stripe_config.yml
  data/saas/dataset/stripe_dataset.yml
  tests/fixtures/saas/stripe_fixtures.py
  tests/ops/integration_tests/saas/test_stripe_task.py
Due: none

add CUSTOM_OPTIONS_PATH to env vars
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: privacy-center

adds changelog
  CHANGELOG.md
Due: none

format
  clients/privacy-center/app/server-environment.ts
Due: privacy-center

split out as i18n util
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/initialize.ts
Due: none
