Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Fix modal preview in Admin-UI experience config (#4712)
  CHANGELOG.md
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

Deployed 0a5725216 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add ability to specify a default locale for matchAvailableLocales
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Update test fixtures to only specify single is_default translations
  clients/fides-js/__tests__/__fixtures__/mock_experience.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Add tests for extractDefaultLocaleFromExperienceConfig
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add failing test for initializeI18n with a non-English default locale
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add adknowledge button label to default language form
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

changelog
  CHANGELOG.md
Due: none

Initialize default locale based on experience config
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Add failling tests for falling back to a non-English default locale when selecting best experience/notice translations
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
Due: none

Add acknowledge button label to default language form (#4714)
  CHANGELOG.md
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

Deployed 1b49c3bff to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

make banner width 100% when mobile
  clients/fides-js/src/components/fides.css
Due: none

Models for Privacy Center configuration
  src/fides/api/alembic/migrations/versions/2e9aba76c322_add_privacy_center_config.py
  src/fides/api/db/base.py
  src/fides/api/models/privacy_center_config.py
  src/fides/api/schemas/privacy_center_config.py
Due: backend

add OOB translation support to privacy experience form
  clients/admin-ui/src/features/common/api.slice.ts
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/pages/consent/privacy-experience/[id].tsx
Due: admin-ui

Add fr-CA translations to test experiences & notices
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
Due: privacy-center

Deployed 3d5e318b9 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed cffbac142 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 3174e91c2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add failing E2E tests for mismatched notice translations using alternate default locale
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

Stop running access requests in sequence (which creates a lot of sqlalchemy errors). Try using a scoped session when creating execution logs.
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
  src/fides/api/task/task_resources.py
  src/fides/api/tasks/__init__.py
Due: backend

refinements to 'unsaved changes' modal behavior
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Deployed 411df16ab to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

chore: bump fastapi from 0.89.1 to 0.109.1
  requirements.txt
Due: none

chore: bump typing_extensions to 4.8.0 to fix CI failures
  requirements.txt
Due: none

Make banner width 100% when mobile (#4715)
  clients/fides-js/src/components/fides.css
Due: none

Deployed 8b1a7f965 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Implement get/set defaultLocale functions
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

This is needed now for fides env
  src/fides/api/service/connectors/sql_connector.py
  tests/ops/integration_tests/setup_scripts/postgres_setup.py
Due: backend

Use i18n.getDefaultLocale when selecting best experience/notice translations, to allow fallbacks to non-English
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
