Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

remove ref
  clients/fides-js/src/components/ConsentBanner.tsx
Due: none

remove onEsc from modal
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/a11y-dialog.tsx
Due: none

remove dismiss from overlay
  clients/fides-js/src/components/Overlay.tsx
Due: none

remove click outside and esc dismiss from banner
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

update tests
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

do not allow dismissal of overlays by clicking outside or esc
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/lib/a11y-dialog.tsx
Due: none

formatting
  clients/fides-js/src/components/Overlay.tsx
Due: none

Remove notice and experience templates.
  src/fides/data/privacy_notices/privacy_experience_config_defaults.yml
  src/fides/data/privacy_notices/privacy_notice_templates.yml
  tests/fixtures/test_privacy_experience_config.yml
  tests/fixtures/test_privacy_experience_config_update.yml
  tests/fixtures/test_privacy_notice.yml
  tests/fixtures/test_privacy_notice_update.yml
Due: backend

Add disabled field to ExperienceConfigTemplate.
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
  tests/fixtures/application_fixtures.py
Due: backend

Fix missing dependency
  clients/fides-js/package.json
  clients/package-lock.json
Due: none

allow dismiss when clicking x
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
Due: none

fixed test
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

PROD-1650 reomve click outside and esc dismissal
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/a11y-dialog.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

fix datamap zoom after search (#4601)
  clients/admin-ui/src/features/datamap/CytoscapeGraph.tsx
Due: admin-ui

Deployed 8ee50eaae to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add padding to gpc label and fix wrapping in firefox (#4600)
  clients/fides-js/src/components/fides.css
Due: none

Deployed 3be7c2b72 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
  clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
Due: admin-ui

Add support for STS-issued AWS Credentials (#4603)
  clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
  clients/admin-ui/src/types/api/models/AWSConfig.ts
  src/fides/cli/commands/generate.py
  src/fides/cli/commands/scan.py
  src/fides/cli/options.py
  src/fides/cli/utils.py
  src/fides/connectors/models.py
Due: backend, admin-ui

Deployed 6428833b2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/cli/index.html
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

add test coverage for aws temporary credential auth
  tests/ctl/connectors/test_aws.py
Due: none

ensure all required aws form fields are marked as such
  clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
Due: admin-ui

adds ability to use base 64 cookie format
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/preferences.ts
  clients/package-lock.json
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/components/consent/ConfigDrivenConsent.tsx
  clients/privacy-center/components/consent/ConsentToggles.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/components/modals/consent-request-modal/ConsentRequestForm.tsx
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/pages/consent.tsx
Due: privacy-center

update changelog
  CHANGELOG.md
Due: none

cr
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/privacy-center/app/server-environment.ts
Due: privacy-center

rename var
  clients/privacy-center/app/server-environment.ts
Due: privacy-center

format
  clients/privacy-center/pages/consent.tsx
Due: privacy-center

fix up ctl cli utils test
  tests/ctl/cli/test_utils.py
Due: none

PROD-1538: Adds ability to use base 64 cookie format (#4556)
  CHANGELOG.md
  clients/fides-js/__tests__/lib/cookie.test.ts
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/preferences.ts
  clients/package-lock.json
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/components/consent/ConfigDrivenConsent.tsx
  clients/privacy-center/components/consent/ConsentToggles.tsx
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
  clients/privacy-center/components/modals/consent-request-modal/ConsentRequestForm.tsx
  clients/privacy-center/pages/api/fides-js.ts
  clients/privacy-center/pages/consent.tsx
Due: privacy-center

Deployed 948e9f2f1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Starting point for Responsys
  data/saas/config/oracle_responsys_config.yml
  data/saas/dataset/oracle_responsys_dataset.yml
  src/fides/api/service/saas_request/override_implementations/authentication_strategy_oracle_responsys.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Adding test
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/util/logger_context_utils.py
  tests/conftest.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/test_privacy_request_logging.py
Due: backend

AWS temporary cred test coverage, UI + test cleanup (#4608)
  CHANGELOG.md
  clients/admin-ui/src/features/config-wizard/AuthenticateAwsForm.tsx
  tests/ctl/cli/test_utils.py
  tests/ctl/connectors/test_aws.py
Due: admin-ui

Deployed 33bb60932 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
