Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Adjust template create schemas.
  src/fides/api/schemas/privacy_notice.py
  tests/ops/models/test_privacy_experience.py
Due: backend

Experimenting with putting more validation on the PrivacyNoticeCreation schema that can be used to validate on create and update.
  src/fides/api/schemas/privacy_notice.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Restore gpp_field_mapping format for easier template creation
  src/fides/api/schemas/privacy_notice.py
Due: backend

Adding unit tests
  src/fides/api/service/connectors/saas/authenticated_client.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/util/logger_context_utils.py
  tests/ops/util/test_logger_context_utils.py
Due: backend

Adding enum for logger context keys
  src/fides/api/util/logger_context_utils.py
Due: backend

Move the majority of the Privacy Notice Schemas to Fidesplus except for a stubbed PrivacyNoticeHistory method which is used for building consent emails.
  scripts/verify_fideslang_2_data_migration.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/privacy_notice.py
  tests/ops/api/v1/test_utils.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/service/privacy_request/test_email_batch_send.py
  tests/ops/util/test_consent_util.py
Due: backend

Remove commented out code.
  tests/fixtures/application_fixtures.py
Due: none

Log context decroator
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/util/logger_context_utils.py
Due: backend

Privacy request cache refresh
  src/fides/api/models/privacy_request.py
  tests/ops/models/test_privacy_request.py
Due: backend

Model-level cleanup - largely drying up fields for SQLAlchemy models.
  .fides/db_dataset.yml
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/db/base_class.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/integration_tests/saas/test_talkable_task.py
  tests/ops/models/test_privacy_experience.py
Due: backend

Add in ComponentType.banner_and_modal.
  .fides/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/db/base_class.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/models/privacy_preference.py
  src/fides/api/models/privacy_preference_v2.py
  src/fides/api/schemas/privacy_notice.py
  tests/fixtures/application_fixtures.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/util/test_consent_util.py
Due: backend

Revert splitting generate_table_uuid into a separate function - this was causing issues creating ctl-type resources.
  src/fides/api/db/base_class.py
  src/fides/api/models/privacy_experience.py
Due: backend

Extend RequestOrigin for backwards compatibility. We currently pull this off of the PrivacyExperienceConfigHistory.component when saving preferences so these need to be a superset of ComponentType.
  src/fides/api/models/privacy_preference.py
Due: backend

Adding tests
  src/fides/api/alembic/migrations/versions/ffca47b43275_add_encryption_and_masking_secrets.py
  src/fides/api/api/v1/endpoints/drp_endpoints.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/policy.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/service/privacy_request/request_service.py
  src/fides/api/tasks/storage.py
  tests/ops/models/test_privacy_request.py
  tests/ops/service/test_storage_uploader_service.py
Due: backend

Removing unused fucntion
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
Due: backend

Mypy fixes
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
Due: backend

Better document that deprecated fields shouldn't be removed from some of these enums.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_preference.py
Due: backend

WIP: add ScrollableList component
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
Due: admin-ui

Fixing test
  src/fides/api/models/privacy_request.py
  src/fides/api/util/cache.py
Due: backend

Remove click outside and esc dismissal (#4606)
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/lib/a11y-dialog.tsx
  clients/privacy-center/cypress/e2e/banner-overlay-dismissal.cy.ts
Due: privacy-center

Deployed cae578a5e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

some cleanup and reorg
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

POC approach to clear out privacyexperienceconfigs with data migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

remove mistaken function ref
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

fix syntax error
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data_clear_experience_configs.py
Due: backend

fix language picker
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
Due: admin-ui

Finalizing implementation
  src/fides/api/graph/traversal.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/util/logger_context_utils.py
  tests/ops/integration_tests/test_privacy_request_logging.py
  tests/ops/util/test_logger_context_utils.py
Due: backend

Removing unused import
  src/fides/api/models/privacy_request.py
Due: backend

Updating change log
  CHANGELOG.md
Due: none

Structured logging for DSR requests (#4594)
  CHANGELOG.md
  src/fides/api/graph/traversal.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/saas/authenticated_client.py
  src/fides/api/service/connectors/saas_connector.py
  src/fides/api/service/connectors/saas_query_config.py
  src/fides/api/util/logger_context_utils.py
  tests/conftest.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/test_privacy_request_logging.py
  tests/ops/util/test_logger_context_utils.py
Due: backend

Deployed 1f807d566 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: oracle initial fixtures/tests
  data/saas/config/oracle_responsys_config.yml
  src/fides/api/service/saas_request/override_implementations/authentication_strategy_oracle_responsys.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
Due: backend

Updated CHANGELOG.md for release 2.30.0
  CHANGELOG.md
Due: none

Updated CHANGELOG.md for release 2.30.0 (#4612)
  CHANGELOG.md
Due: none

Deployed 57011aca4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
