Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Refactor implementation to use our own minimal i18n lib instead
  clients/fides-js/__tests__/lib/i18n/i18n.test.ts
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/cs/messages.js
  clients/fides-js/src/lib/i18n/locales/cs/messages.po
  clients/fides-js/src/lib/i18n/locales/en/messages.js
  clients/fides-js/src/lib/i18n/locales/en/messages.po
  clients/fides-js/src/lib/i18n/locales/fr/messages.js
  clients/fides-js/src/lib/i18n/locales/fr/messages.po
  clients/fides-js/src/lib/i18n/setupI18n.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/locales/cs/messages.js
  clients/fides-js/src/locales/en/messages.js
  clients/fides-js/src/locales/fr/messages.js
Due: none

Remove cs from POC
  clients/fides-js/src/lib/i18n/locales/cs/messages.js
  clients/fides-js/src/lib/i18n/locales/cs/messages.po
  clients/fides-js/src/lib/i18n/locales/en/messages.po
  clients/fides-js/src/lib/i18n/locales/fr/messages.po
  clients/fides-js/src/lib/initialize.ts
Due: none

Removing masking secrets from the database
  src/fides/api/alembic/migrations/versions/ffca47b43275_add_encryption_key_to_privacy_request.py
  src/fides/api/api/v1/endpoints/drp_endpoints.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  tests/ops/service/privacy_request/test_email_batch_send.py
Due: backend

Removing use of identity cache for consent request
  src/fides/api/models/privacy_request.py
Due: backend

Inventory page
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/common/nav/v2/routes.ts
  clients/admin-ui/src/features/plus/plus.slice.ts
  clients/admin-ui/src/flags.json
  clients/admin-ui/src/pages/inventory/InventoryTable.tsx
  clients/admin-ui/src/pages/inventory/index.tsx
  clients/admin-ui/src/pages/inventory/types.ts
Due: admin-ui

feat: override for profile_list_recipient_read
  data/saas/config/oracle_responsys_config.yml
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

Adding Fides.showModal
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Fixing import
  clients/fides-js/src/components/Overlay.tsx
Due: none

feat: override for profile_list_recipient_delete
  data/saas/config/oracle_responsys_config.yml
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

chore: format request overrides
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

fix: remove unused fixtures
  tests/fixtures/saas/oracle_responsys_fixtures.py
Due: none

fix: add newlines to end of files
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: none

Updates based on PR feedback
  clients/fides-js/src/components/Overlay.tsx
Due: none

Using ref to avoid duplicate element lookup
  clients/fides-js/src/components/Overlay.tsx
Due: none

Updating table based on new designs + starting point for add property page
  clients/admin-ui/src/features/common/Icon/TrashCanOutlineIcon.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/common/nav/v2/routes.ts
  clients/admin-ui/src/features/plus/plus.slice.ts
  clients/admin-ui/src/pages/consent/properties/add-property.tsx
  clients/admin-ui/src/pages/consent/properties/components/AddProperty.tsx
  clients/admin-ui/src/pages/consent/properties/components/AddPropertyForm.tsx
  clients/admin-ui/src/pages/consent/properties/components/PropertiesTable.tsx
  clients/admin-ui/src/pages/consent/properties/components/PropertyActions.tsx
  clients/admin-ui/src/pages/consent/properties/index.tsx
  clients/admin-ui/src/pages/consent/properties/types.ts
Due: admin-ui

First draft updating PrivacyExperienceConfig.regions property and PrivacyNotice.configured_regions convenience property to factor in selected locations if applicable.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_location_regulation_selections.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

add gvl_translations field to privacy experience model
  src/fides/api/models/privacy_experience.py
Due: backend

feat: add oracle_responsys dataset
  data/saas/dataset/oracle_responsys_dataset.yml
Due: none

refactor: remove trailing underscore from field names
  data/saas/config/oracle_responsys_config.yml
  data/saas/dataset/oracle_responsys_dataset.yml
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

add editing to privacy experience config form
  clients/admin-ui/package.json
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/NewPrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/features/privacy-experience/constants.ts
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/language.slice.ts
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/pages/consent/privacy-experience/[id].tsx
  clients/admin-ui/src/pages/consent/privacy-experience/new.tsx
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
Due: admin-ui

refactor: rename overrides for consistency
  data/saas/config/oracle_responsys_config.yml
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
Due: backend

fix: authentication token location
  src/fides/api/service/saas_request/override_implementations/authentication_strategy_oracle_responsys.py
Due: backend

Cypress tests
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/privacy-center/cypress/e2e/show-modal.cy.ts
Due: privacy-center

Fixing test
  clients/privacy-center/cypress/e2e/show-modal.cy.ts
Due: privacy-center

Fix bug where a dry update was causing an extra PrivacyExperienceConfig to be created!
  src/fides/api/models/privacy_experience.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
Due: backend

Updating change log
  CHANGELOG.md
Due: none

Adding Fides.showModal (#4617)
  CHANGELOG.md
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/show-modal.cy.ts
Due: privacy-center

Adding Fides.showModal (#4617)
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/show-modal.cy.ts
Due: privacy-center

Deployed 68c204a0b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Code restructuring
  clients/admin-ui/src/features/common/Icon/Copy.tsx
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/features/properties/AddProperty.tsx
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/pages/consent/properties/components/PropertyActions.tsx
  clients/admin-ui/src/pages/consent/properties/index.tsx
Due: admin-ui

Respond to CR pass, largely making code a little more DRY.
  src/fides/api/models/__init__.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/util/test_consent_util.py
Due: backend

Mypy pass!
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
Due: backend

Fix type object is not subscriptable for Python 3.8.
  src/fides/api/models/__init__.py
Due: backend

add gvl_translations field to privacy experience model (#4621)
  src/fides/api/models/privacy_experience.py
Due: backend

Move some of the locations code back to OSS so it can be used at the PrivacyExperienceConfig model level.
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/schemas/locations.py
  src/fides/api/util/consent_util.py
  src/fides/data/location/__init__.py
  src/fides/data/location/locations.yml
  tests/ops/models/test_privacy_experience.py
Due: backend

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
