Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Updating change log
  CHANGELOG.md
Due: none

Re-adding newline
  CHANGELOG.md
Due: none

CON-206: Responsys access and erasure (#4618)
  CHANGELOG.md
  data/saas/config/oracle_responsys_config.yml
  data/saas/dataset/oracle_responsys_dataset.yml
  data/saas/icon/default.svg
  data/saas/icon/oracle_responsys.svg
  src/fides/api/service/saas_request/override_implementations/authentication_strategy_oracle_responsys.py
  src/fides/api/service/saas_request/override_implementations/oracle_responsys_request_overrides.py
  tests/fixtures/saas/oracle_responsys_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
Due: backend

Deployed bff5df7f8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Cleanup TODO
  clients/fides-js/src/components/notices/NoticeToggles.tsx
Due: none

PROD-1755: Fix bug where closing consent overlay via "x" sometimes overrides saved preferences (#4649)
  CHANGELOG.md
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/shared-consent-utils.ts
  clients/privacy-center/components/consent/NoticeDrivenConsent.tsx
Due: privacy-center

Deployed c91d46c91 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update TODOs, format, lint
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
Due: privacy-center

Adding experiences form section
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/pages/consent/properties/add-property.tsx
  clients/admin-ui/src/types/api/models/Property.ts
Due: admin-ui

Cleanup additional TODOs and fix some failing TCF tests
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
Due: none

Localize all strings in FidesJS banner & modal based on the user's locale and experience configuration (#4631)
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/ConsentContent.tsx
  clients/fides-js/src/components/ConsentModal.tsx
  clients/fides-js/src/components/DataUseToggle.tsx
  clients/fides-js/src/components/GpcBadge.tsx
  clients/fides-js/src/components/GpcInfo.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/PagingButtons.tsx
  clients/fides-js/src/components/PrivacyPolicyLink.tsx
  clients/fides-js/src/components/Toggle.tsx
  clients/fides-js/src/components/index.ts
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/notices/NoticeToggles.tsx
  clients/fides-js/src/components/tcf/RecordsList.tsx
  clients/fides-js/src/components/tcf/TcfConsentButtons.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/hooks.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/i18n/index.ts
  clients/fides-js/src/lib/i18n/locales/en/messages.json
  clients/fides-js/src/lib/i18n/locales/es/messages.json
  clients/fides-js/src/lib/preferences.ts
  clients/fides-js/src/lib/tcf.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/e2e/consent-notices.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal.json
  clients/privacy-center/cypress/fixtures/consent/experience_gpp.json
  clients/privacy-center/cypress/fixtures/consent/experience_privacy_center.json
  clients/privacy-center/cypress/fixtures/consent/experience_tcf.json
  clients/privacy-center/cypress/fixtures/consent/fidesjs_options_banner_modal.json
  clients/privacy-center/cypress/support/commands.ts
  clients/privacy-center/cypress/support/mocks.ts
  clients/privacy-center/cypress/support/stubs.ts
Due: privacy-center

wrap up small items, add TODO comments
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/fides-js/src/components/ConsentBanner.tsx
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/app/server-environment.ts
Due: admin-ui, privacy-center

fix issue with language selection menu being cut off
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
Due: admin-ui

update Cypress tests
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/languages.json
  clients/admin-ui/cypress/fixtures/privacy-notices/notice.json
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
Due: admin-ui

fix failing test for language selector
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
Due: admin-ui

remove .only
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
Due: admin-ui

Index PrivacyExperienceConfig.disabled, ExperienceTranslation.experience_config_id, and privacyexperienceconfighistory.translation_id
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
Due: backend

Remove deprecated experience and notice fields.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
Due: backend

Set some fields that temporarily had to be made non nullable before the data migration.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
Due: backend

better report file loading error
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

try adding yml to manifest to get it loaded into the package
  MANIFEST.in
Due: none

Remove alembic autogenerated text because the migration was edited -
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
Due: backend

type fix
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
Due: admin-ui

update experiences page to use new table
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
  clients/admin-ui/src/pages/consent/privacy-experience/index.tsx
Due: admin-ui

lint and format
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
Due: admin-ui

fix cypress
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/common/table/v2/FidesRow.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/features/privacy-experience/cells.tsx
Due: admin-ui

cy fix pt 2
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/common/table/v2/FidesRow.tsx
Due: admin-ui

format
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
Due: admin-ui

remove focus outline from nav
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
Due: admin-ui

format
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
Due: admin-ui

Update privacy notice created in saas connector runner to not reference obsolete fields
  tests/fixtures/application_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
Due: none

Fix constraint update.
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
Due: backend

fix spelling
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticesTable.tsx
Due: admin-ui

Update privacy notice form (#4648)
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/fixtures/languages.json
  clients/admin-ui/cypress/fixtures/privacy-notices/notice.json
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/cells.tsx
  clients/admin-ui/src/features/privacy-notices/form.ts
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

Linking properties and privacy experiences in the database
  clients/admin-ui/src/features/properties/PropertiesTable.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/MinimalPrivacyExperience.ts
  clients/admin-ui/src/types/api/models/Property.ts
  src/fides/api/alembic/migrations/versions/3815b0db5b14_drop_key_column_from_property.py
  src/fides/api/alembic/migrations/versions/69e51a460e66_add_plus_privacy_experience_config_table.py
  src/fides/api/db/base.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/property.py
  src/fides/api/schemas/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Ship with experience config "allow_language_selection" field to be false by default.
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/privacy_experience.py
Due: backend
