Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Admin UI - User Deletion Modal - Only Require One Layer of Confirmation (#4402)
  CHANGELOG.md
  clients/admin-ui/cypress/e2e/user-management.cy.ts
  clients/admin-ui/src/features/user-management/DeleteUserModal.tsx
Due: admin-ui

Deployed 65af59687 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

support merge value resolution in config proxy; use merged resolution for cors_origins
  src/fides/api/models/application_config.py
  src/fides/config/config_proxy.py
  tests/ops/api/v1/endpoints/test_config_endpoints.py
  tests/ops/models/test_application_config.py
Due: backend

Updated CHANGELOG.md for release 2.29.0
  CHANGELOG.md
Due: none

Updated CHANGELOG.md for release 2.29.0 (#4585)
  CHANGELOG.md
Due: none

Deployed 5bf61d1a1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

feat: include joblib and get fields in parallel
  requirements.txt
  src/fides/core/dataset.py
Due: backend

Updating migration
  src/fides/api/alembic/migrations/versions/4d34d270f3ea_table_updates_for_user_invite.py
Due: backend

add extras require
  setup.py
Due: none

Early logic to enforce fields on Experience translations given the UX types and/or notices.
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/api/util/consent_util.py
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
Due: backend

add extras require (#4588)
  setup.py
Due: none

throw error on merge value for non iterables
  src/fides/api/models/application_config.py
Due: backend

tweak test url
  tests/ops/api/v1/endpoints/test_config_endpoints.py
Due: none

Deployed 67a515aff to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update CORS config page to display config-set domains and improve FE validations
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

Support an optional tooltip prop on FormSection
  clients/admin-ui/src/features/common/form/FormSection.tsx
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

change merge properties to use a decorator and update docs
  src/fides/api/models/application_config.py
  src/fides/config/config_proxy.py
Due: backend

fix: missing mypy override
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

At least one experience translation must be marked as the default and allow language selection requires >1 translation.
  src/fides/api/alembic/migrations/versions/bb1216787c0c_add_notice_and_exp_translations.py
  src/fides/api/api/v1/endpoints/privacy_experience_config_endpoints.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/schemas/privacy_experience.py
  src/fides/data/privacy_notices/privacy_experience_config_defaults2.yml
  tests/fixtures/application_fixtures.py
  tests/fixtures/test_privacy_experience_config.yml
  tests/fixtures/test_privacy_experience_config_update.yml
  tests/ops/api/v1/endpoints/test_privacy_experience_config_endpoints.py
  tests/ops/util/test_consent_util.py
Due: backend

feat: allow for increased scaling of threads for larger schemas
  src/fides/core/dataset.py
Due: backend

Add ability to display the cors_origin_regex as well
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/cors-configuration.tsx
  clients/admin-ui/src/types/api/models/SecurityApplicationConfig.ts
Due: admin-ui

expose cors_origin_regex property via config API (read-only)
  src/fides/config/utils.py
  tests/ops/api/v1/endpoints/test_config_endpoints.py
Due: backend

Update navigation tests
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
Due: admin-ui

Rename CORS -> Domains in several more places
  clients/admin-ui/src/features/common/form/FormSection.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/features/common/nav/v2/routes.ts
  clients/admin-ui/src/features/privacy-requests/privacy-requests.slice.ts
  clients/admin-ui/src/pages/management/cors-configuration.tsx
Due: admin-ui

Change from /management/cors-configuration -> /management/domains
  clients/admin-ui/src/features/common/form/FormSection.tsx
  clients/admin-ui/src/features/common/nav/v2/nav-config.test.ts
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Removing requirement for policy client ID
  src/fides/api/alembic/migrations/versions/68cb26f3492d_remove_client_id_constraint.py
  src/fides/api/api/v1/endpoints/policy_endpoints.py
  src/fides/api/models/policy.py
  tests/ops/api/v1/endpoints/test_policy_endpoints.py
Due: backend

Reverting client and seed files
  src/fides/api/db/seed.py
  src/fides/api/models/client.py
Due: backend

Add Cypress E2E tests for domains page
  clients/admin-ui/cypress/e2e/domains.cy.ts
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Update Domains copy from UAT
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Tweak global layout to fill viewport
  clients/admin-ui/src/features/common/Layout.tsx
  clients/admin-ui/src/pages/consent/configure/index.tsx
Due: admin-ui

Update CHANGELOG
  CHANGELOG.md
Due: none

Few more updates from UAT
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Remove unused import
  clients/admin-ui/src/pages/management/domains.tsx
Due: admin-ui

Starting point
  data/saas/config/talkable_config.yml
  data/saas/dataset/talkable_dataset.yml
  tests/fixtures/saas/talkable_fixtures.py
  tests/ops/integration_tests/saas/test_talkable_task.py
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
