Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Use persisted identity data instead of cached identity data - sometimes the cache seems empty on retry from the worker?
  src/fides/api/task/graph_task.py
Due: backend

The identity data needs to be there to build that initial traversal - sometimes the cache is empty on retry! Why? Using persisted identity instead for now.
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
Due: backend

Create the nodes in topological sort order to roughly mimic the order in which they will need to be run -
  src/fides/api/task/graph_task.py
Due: backend

Add an endpoint for privacy request tasks.
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/schemas/privacy_request.py
  src/fides/common/api/v1/urn_registry.py
Due: backend

Update changelog.
  CHANGELOG.md
Due: none

Updating db_dataset.yml
  .fides/db_dataset.yml
Due: none

Set default version to stable with mike 1.1.2
  index.html
Due: none

Remove accidental back-tick causing errors in cli
  README.md
  docs/fides/docs/development/overview.md
Due: none

Adding integration test for custom privacy request fields
  tests/fixtures/saas/test_data/saas_custom_privacy_request_fields_config.yml
  tests/fixtures/saas/test_data/saas_custom_privacy_request_fields_dataset.yml
  tests/ops/integration_tests/test_integration_custom_privacy_request_fields.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: none

Fixing integration tests
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: none

Updating database constraints to enforce a single row
  src/fides/api/alembic/migrations/versions/2e9aba76c322_add_privacy_center_config.py
  src/fides/api/models/privacy_center_config.py
  tests/ops/models/test_privacy_center_config.py
Due: backend

hide translations interface when translations aren't enabled
  clients/admin-ui/cypress/e2e/privacy-experiences.cy.ts
  clients/admin-ui/cypress/e2e/privacy-notices.cy.ts
  clients/admin-ui/cypress/support/stubs.ts
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-notices/PrivacyNoticeTranslationForm.tsx
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/MinimalPrivacyExperience.ts
  clients/admin-ui/src/types/api/models/MinimalProperty.ts
  clients/admin-ui/src/types/api/models/PrivacyExperienceResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/SupportedLanguage.ts
Due: admin-ui

changelog
  CHANGELOG.md
Due: none

sets GPP applicable sections appropriately when user is in a state outside of GPP jurisdiction
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/gpp/us-notices.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

fix test
  CHANGELOG.md
  clients/fides-js/src/lib/gpp/us-notices.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

update changelog
  CHANGELOG.md
Due: none

fix CI failure
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
Due: admin-ui

PROD-1356 Fix overlapping/floating buttons in integrations screen
  clients/admin-ui/src/features/datastore-connections/system_portal_config/ConnectionForm.tsx
Due: admin-ui

Remove accidental back-tick causing errors in cli (#4724)
  README.md
  docs/fides/docs/development/overview.md
Due: none

Fixed up test request
  data/saas/config/iterable_config.yml
Due: none

Deployed 175999883 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/development/overview/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Changelog update
  CHANGELOG.md
Due: none

Add changes to the changelog
  CHANGELOG.md
Due: none

PROD-1356 Fix overlapping/floating buttons in integrations screen (#4729)
  CHANGELOG.md
  clients/admin-ui/src/features/datastore-connections/system_portal_config/ConnectionForm.tsx
Due: admin-ui

Deployed 79e8c8459 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

remove sorting from table headers (for now)
  clients/admin-ui/src/features/common/table/v2/cells.tsx
Due: admin-ui

fix standard cell size/padding including those w/ buttons
  clients/admin-ui/src/features/common/table/v2/FidesCell.tsx
  clients/admin-ui/src/features/common/table/v2/FidesTable.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/common/table/v2/util.ts
Due: admin-ui

Updating change log + db_dataset.yml update
  .fides/db_dataset.yml
  CHANGELOG.md
Due: none

Models for Privacy Center configuration (#4716)
  .fides/db_dataset.yml
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/2e9aba76c322_add_privacy_center_config.py
  src/fides/api/db/base.py
  src/fides/api/models/privacy_center_config.py
  src/fides/api/schemas/privacy_center_config.py
  tests/ops/models/test_privacy_center_config.py
  tests/ops/schemas/test_privacy_center_config.py
Due: backend

Deployed 8ec8fd96b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

POC investigating building custom scheduler for erasures -
  src/fides/api/alembic/migrations/versions/9f97aa2ae1e6_privacyrequesttask.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/policy.py
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/privacy_request.py
  src/fides/api/service/connectors/query_config.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/graph_task.py
Due: backend

Adding masking secret check and putting derived identities back in the cache
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/common_exceptions.py
  src/fides/api/models/policy.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/util/cache.py
  tests/ops/models/test_privacy_request.py
Due: backend

PROD-1653 Disable editing of type of data use and name after it has been created
  clients/admin-ui/src/features/system/system-form-declaration-tab/PrivacyDeclarationForm.tsx
Due: admin-ui

PROD-1653 Update changelog
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
