Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Fixing Cypress fixtures
  clients/admin-ui/cypress/fixtures/privacy-requests/list.json
Due: admin-ui

assert working
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Disabling additional tests
  noxfiles/setup_tests_nox.py
  tests/ops/integration_tests/saas/test_aircall_task.py
  tests/ops/integration_tests/saas/test_friendbuy_nextgen_task.py
  tests/ops/integration_tests/saas/test_fullstory_task.py
  tests/ops/integration_tests/saas/test_gorgias_task.py
  tests/ops/integration_tests/saas/test_oracle_responsys_task.py
  tests/ops/integration_tests/saas/test_statsig_enterprise_task.py
  tests/ops/integration_tests/saas/test_talkable_task.py
  tests/ops/integration_tests/saas/test_yotpo_reviews_task.py
Due: none

Nearly there - looks like my rand val isn't getting around
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Not certain that my random gen string is getting everywhere
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Break
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: none

Updating change log
  CHANGELOG.md
Due: none

Deployed dac432d28 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Start switching runners to test runners for saas connectors.
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/request_override/test_firebase_auth_task.py
  tests/ops/integration_tests/saas/request_override/test_mailchimp_override_task.py
  tests/ops/integration_tests/saas/test_adobe_campaign_task.py
  tests/ops/integration_tests/saas/test_aircall_task.py
  tests/ops/integration_tests/saas/test_amplitude_task.py
  tests/ops/integration_tests/saas/test_auth0_task.py
  tests/ops/integration_tests/saas/test_braintree_task.py
  tests/ops/integration_tests/saas/test_braze_task.py
  tests/ops/integration_tests/saas/test_datadog_task.py
  tests/ops/integration_tests/saas/test_delighted_task.py
  tests/ops/integration_tests/saas/test_domo_task.py
  tests/ops/integration_tests/saas/test_friendbuy_nextgen_task.py
  tests/ops/integration_tests/saas/test_friendbuy_task.py
  tests/ops/integration_tests/saas/test_fullstory_task.py
  tests/ops/integration_tests/saas/test_google_analytics_task.py
  tests/ops/integration_tests/saas/test_gorgias_task.py
  tests/ops/integration_tests/saas/test_hubspot_task.py
  tests/ops/integration_tests/saas/test_jira_task.py
  tests/ops/integration_tests/saas/test_kustomer_task.py
  tests/ops/integration_tests/saas/test_mailchimp_task.py
  tests/ops/integration_tests/saas/test_outreach_task.py
  tests/ops/integration_tests/saas/test_recharge_tasks.py
  tests/ops/integration_tests/saas/test_rollbar_task.py
  tests/ops/integration_tests/saas/test_salesforce_task.py
  tests/ops/integration_tests/saas/test_segment_task.py
  tests/ops/integration_tests/saas/test_sendgrid_task.py
  tests/ops/integration_tests/saas/test_sentry_task.py
  tests/ops/integration_tests/saas/test_shippo_task.py
  tests/ops/integration_tests/saas/test_shopify_task.py
  tests/ops/integration_tests/saas/test_slack_enterprise_task.py
  tests/ops/integration_tests/saas/test_square_task.py
  tests/ops/integration_tests/saas/test_stripe_task.py
  tests/ops/integration_tests/saas/test_twilio_conversations_task.py
  tests/ops/integration_tests/saas/test_unbounce_task.py
  tests/ops/integration_tests/saas/test_universal_analytics_task.py
  tests/ops/integration_tests/saas/test_vend_task.py
  tests/ops/integration_tests/saas/test_yotpo_loyalty_task.py
Due: none

Adding test
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
Due: none

smaller primary key
  tests/fixtures/saas/openweb_fixtures.py
Due: none

night
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Updating Cookie House demo
  src/fides/api/db/samples.py
  src/fides/data/sample_project/sample_connections/sample_connections.yml
  src/fides/data/sample_project/sample_resources/postgres_example_test_extended_dataset.yml
  src/fides/data/sample_project/sample_resources/sample_systems.yml
  tests/ctl/api/test_seed.py
Due: backend

Remove saas erasure order datasets - their location is elsewhere under fixtures
  data/saas/config/saas_erasure_order_config.yml
  data/saas/dataset/saas_erasure_order_dataset.yml
Due: none

Good example of a test that needed a lot of tweaks to run on both schedulers:
  tests/ops/integration_tests/saas/test_google_analytics_task.py
  tests/ops/integration_tests/test_integration_erasure_order.py
Due: none

Adding extra identities to DSR package
  clients/admin-ui/src/features/privacy-requests/ApprovePrivacyRequestModal.tsx
  src/fides/api/service/privacy_request/dsr_package/dsr_report_builder.py
  src/fides/api/service/privacy_request/dsr_package/templates/welcome.html
Due: backend, admin-ui

PROD-1880 Rename useFidesLang hook to useTaxonomies
  clients/admin-ui/src/features/common/hooks/useTaxonomies.test.ts
  clients/admin-ui/src/features/common/hooks/useTaxonomies.tsx
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

PROD-1880 update data use and data subject columns to use friendly names (#4774)
  CHANGELOG.md
  clients/admin-ui/src/features/common/hooks/useTaxonomies.test.ts
  clients/admin-ui/src/features/common/hooks/useTaxonomies.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/datamap/reporting/DatamapReportTable.tsx
Due: admin-ui

Deployed 665b454f3 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fixing mypy errors
  src/fides/api/db/samples.py
  src/fides/api/service/privacy_request/dsr_package/dsr_report_builder.py
Due: backend

Get Adyen test working with connector runner.
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/integration_tests/saas/test_ada_chatbot_task.py
  tests/ops/integration_tests/saas/test_adyen_task.py
Due: none

close - debugging shows matching urls
  tests/fixtures/saas/openweb_fixtures.py
Due: none

much closer now
  data/saas/config/openweb_config.yml
  tests/fixtures/saas/openweb_fixtures.py
Due: none

debugging
  tests/fixtures/saas/openweb_fixtures.py
Due: none

Cleaner
  tests/fixtures/saas/openweb_fixtures.py
Due: none

clean and pause
  data/saas/config/openweb_config.yml
Due: none

tidy
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
Due: backend

ignore 404 for card delete, often seen with duplicates
  data/saas/config/stripe_config.yml
Due: none

Stripe integration updates for card (#4768)
  CHANGELOG.md
  data/saas/config/stripe_config.yml
  data/saas/dataset/stripe_dataset.yml
  tests/ops/integration_tests/saas/test_stripe_task.py
Due: none

Deployed b8a34b474 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Codecov test
  codecov.yaml
Due: none

Updating ignore path on codecov.yaml
  codecov.yaml
Due: none

PROD-1708: Add modal link label to experience model (#4767)
  .fides/db_dataset.yml
  CHANGELOG.md
  codecov.yaml
  src/fides/api/alembic/migrations/versions/e4023342ebbb_add_modal_link_label_to_experience_.py
  src/fides/api/models/privacy_experience.py
  tests/fixtures/application_fixtures.py
  tests/ops/models/test_privacy_experience.py
Due: backend

store a11y related str as a const
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/components/LanguageSelector.tsx
  clients/fides-js/src/lib/consent-constants.ts
Due: none

Deployed dda0ae2ff to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
