Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Implement loadTcfMessagesFromFiles
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
  clients/fides-js/src/lib/tcf/i18n/tcf-i18n-utils.ts
Due: none

Adding ability to delete properties
  clients/admin-ui/src/features/properties/DeletePropertyModalTrigger.tsx
  clients/admin-ui/src/features/properties/PropertyActions.tsx
  clients/admin-ui/src/features/properties/PropertyForm.tsx
  clients/admin-ui/src/features/properties/property.slice.ts
  clients/admin-ui/src/pages/consent/properties/[id].tsx
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/ScopeRegistryEnum.ts
  src/fides/api/alembic/migrations/versions/7799269e7078_remove_cascade_delete_from_property.py
  src/fides/api/models/property.py
  tests/ops/models/test_property.py
Due: backend, admin-ui

Add changelog
  CHANGELOG.md
Due: none

Add no preview notice for Privacy Center types
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

format
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Misc fixes
  clients/admin-ui/src/features/privacy-experience/NewJavaScriptTag.tsx
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
Due: admin-ui

FE fixes related to experience config form (#4707)
  CHANGELOG.md
  clients/admin-ui/src/features/common/ScrollableList.tsx
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
Due: admin-ui

changelog
  CHANGELOG.md
Due: none

typo
  CHANGELOG.md
Due: none

Deployed f2c7f9329 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add no preview notice for Privacy Center types (#4709)
  CHANGELOG.md
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Deployed 7cae2decd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

remove properties flag
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/flags.json
Due: admin-ui

Load TCF messages only when TcfOverlay is being initialized!
  clients/fides-js/src/lib/tcf/renderOverlay.tsx
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Format & lint
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/tcf/i18n/tcf-i18n-utils.ts
Due: none

set appropriate component config when in modal preview, remove need for fidesPreviewComponent config var
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-types.ts
  clients/privacy-center/app/server-environment.ts
  clients/privacy-center/pages/api/fides-js.ts
Due: admin-ui, privacy-center

adds changelog
  CHANGELOG.md
Due: none

Handle bad data case where we have duplicate privacy notice history versions saved for the same notice.
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Functioning tests for iterable erasure integration
  data/saas/config/iterable_config.yml
  data/saas/dataset/iterable_dataset.yml
  tests/fixtures/saas/iterable_fixtures.py
  tests/ops/integration_tests/saas/test_iterable_task.py
Due: none

Remove properties flag (#4710)
  CHANGELOG.md
  clients/admin-ui/src/features/common/nav/v2/nav-config.ts
  clients/admin-ui/src/flags.json
Due: admin-ui

Deployed 6b6e279b7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

prevent fides init with unsupported component types
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
Due: admin-ui

Add rollup-plugin-visualizer to visualize bundle size
  clients/fides-js/.gitignore
  clients/fides-js/package.json
  clients/fides-js/rollup.config.mjs
  clients/package-lock.json
Due: none

Format
  clients/fides-js/rollup.config.mjs
Due: none

Translation Data Migration - Duplicate Privacy Notice History records (#4713)
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Deployed e74aae7c1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 7a386e96d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
