Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

Update GPP tests for cookie initialization
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

fix: remove password from credentials object (#4661)
  CHANGELOG.md
  src/fides/core/user.py
  src/fides/core/utils.py
  tests/ctl/core/test_user.py
Due: backend

Deployed f48a2272a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add a few workarounds to temporarily get GPP tests passing and failures understood
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Fix TCF test to not expect legacy consent passed to savePreferencesFn
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
Due: privacy-center

Responding to CR comments -
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
Due: backend

Fixing downrev
  src/fides/api/alembic/migrations/versions/3815b0db5b14_drop_key_column_from_property.py
Due: backend

Litter this code with TODOs, but see if it works
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/initialize.ts
Due: none

Updating Cypress fixtures
  clients/admin-ui/cypress/fixtures/properties/properties.json
Due: admin-ui

Multitranslation Support 3rd Migration (#4651)
  .fides/db_dataset.yml
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
  src/fides/api/models/location_regulation_selections.py
  src/fides/api/models/privacy_experience.py
  src/fides/api/models/privacy_notice.py
  src/fides/api/models/privacy_preference.py
  src/fides/api/models/privacy_preference_v2.py
  tests/fixtures/application_fixtures.py
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/models/test_privacy_experience.py
  tests/ops/models/test_privacy_notice.py
  tests/ops/models/test_privacy_preference_v2.py
Due: backend

Updating fides dataset
  .fides/db_dataset.yml
Due: none

remove outdated reference in manifest
  MANIFEST.in
Due: none

catch exceptions when writing to disk in migration
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Rename new state var to "savedConsent"
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
Due: none

Format & lint
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-ext-gpp.ts
Due: none

WIP commit
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
  src/fides/api/alembic/migrations/versions/32497f08e227_translation_cleanup.py
  src/fides/api/alembic/migrations/versions/a1e23b70f2b2_add_notice_and_exp_translations.py
Due: backend

Try moving GPC application to after initialization
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Add some hints for where static TCF strings will go
  clients/fides-js/src/components/tcf/EmbeddedVendorList.tsx
  clients/fides-js/src/components/tcf/InitialLayerAccordion.tsx
  clients/fides-js/src/components/tcf/TcfFeatures.tsx
  clients/fides-js/src/components/tcf/TcfPurposes.tsx
  clients/fides-js/src/components/tcf/TcfTabs.tsx
  clients/fides-js/src/components/tcf/TcfVendors.tsx
  clients/fides-js/src/components/tcf/VendorInfoBanner.tsx
  clients/fides-js/src/lib/tcf/constants.ts
Due: none

Cleanup final TODOs
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/initialize.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Add a few extra tests for resurfacing consent
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Update CHANGELOG
  CHANGELOG.md
Due: none

Format
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
Due: none

Add es mx language code.
  src/fides/data/language/languages.yml
Due: backend

query for privacy notices to show in preview
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/Preview.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/features/privacy-notices/privacy-notices.slice.ts
Due: admin-ui

make name required field, add 'auto detect language'
  clients/admin-ui/src/features/privacy-experience/ConfigurePrivacyExperience.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceForm.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ConsentReportingSchema.ts
  clients/admin-ui/src/types/api/models/Continent.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigCreate.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponse.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigResponseNoNotices.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigUpdate.ts
  clients/admin-ui/src/types/api/models/Location.ts
  clients/admin-ui/src/types/api/models/LocationGroup.ts
  clients/admin-ui/src/types/api/models/LocationRegulationBase.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeDisabledResponse.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeDisabledUpdate.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeRegion.ts
  clients/admin-ui/src/types/api/models/PrivacyNoticeResponse.ts
  clients/admin-ui/src/types/api/models/Property.ts
  clients/admin-ui/src/types/api/models/PropertyType.ts
  clients/admin-ui/src/types/api/models/Selection.ts
Due: admin-ui

Initialize Fides.consent with default values from experience when saved consent cookie (fides_consent) does not exist (#4665)
  CHANGELOG.md
  clients/fides-js/src/components/Overlay.tsx
  clients/fides-js/src/components/notices/NoticeOverlay.tsx
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/fides-js/src/components/types.ts
  clients/fides-js/src/fides-ext-gpp.ts
  clients/fides-js/src/fides-tcf.ts
  clients/fides-js/src/fides.ts
  clients/fides-js/src/lib/consent-utils.ts
  clients/fides-js/src/lib/consent-value.ts
  clients/fides-js/src/lib/consent.ts
  clients/fides-js/src/lib/cookie.ts
  clients/fides-js/src/lib/extensions.ts
  clients/fides-js/src/lib/initialize.ts
  clients/fides-js/src/lib/preferences.ts
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
  clients/privacy-center/cypress/e2e/consent-banner-tcf.cy.ts
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Deployed 0863408d7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update consent-banner E2E tests from main
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
Due: privacy-center

Re-enable a skipped assertion in GPP tests
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
Due: privacy-center

Update tests!
  tests/ops/integration_tests/saas/connector_runner.py
  tests/ops/schemas/language/test_language.py
Due: none

Tidy up some tests
  clients/privacy-center/cypress/e2e/consent-banner.cy.ts
  clients/privacy-center/cypress/e2e/consent.cy.ts
Due: privacy-center

update privacy notice region enum
  clients/admin-ui/src/features/common/privacy-notice-regions.ts
Due: admin-ui

Add notice-only tests and fix acknowledge button
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/privacy-center/cypress/e2e/consent-banner-gpp.cy.ts
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
  clients/privacy-center/cypress/fixtures/consent/experience_banner_modal_notice_only.json
Due: privacy-center

Update i18n.load() to replace existing messages with newer ones
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Update i18n.load() to replace existing messages with newer ones (#4668)
  clients/fides-js/__tests__/lib/i18n/i18n-utils.test.ts
  clients/fides-js/src/lib/i18n/i18n-utils.ts
Due: none

Adding property column to experiences table
  clients/admin-ui/src/features/privacy-experience/PrivacyExperiencesTable.tsx
  clients/admin-ui/src/types/api/index.ts
  clients/admin-ui/src/types/api/models/ExperienceConfigListViewResponse.ts
  clients/admin-ui/src/types/api/models/MinimalProperty.ts
Due: admin-ui

Path conditions:
  backend: any of: src/fides/**/*, but not: **/migrations
  admin-ui: any of: clients/admin-ui/**/*, but not: **/migrations
  privacy-center: any of: clients/privacy-center/**/*, but not: **/migrations
