Repository ethyca/fides: changes, and which Codecov flags are due for each by the changed paths.
All: backend, admin-ui, privacy-center

codecov.yaml:

coverage:
  status:
    project:
      backend:
        target: 85%
        flags:
          - backend
      admin-ui:
        target: 60%
        flags:
          - admin-ui
      privacy-center:
        target: 60%
        flags:
          - privacy-center
    patch:
      default:
        target: 100%


comment:
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       

flags:
  backend:
    paths:
      - src/fides/**/*
    after_n_builds: 9 # combine across multiple test suite uploads
  admin-ui:
    paths:
      - clients/admin-ui/**/*
    after_n_builds: 1
  privacy-center:
    paths:
      - clients/privacy-center/**/*
    after_n_builds: 1

ignore:
  - "**/migrations"

Fix: language switcher not working in tcf overlay (#4758)
  clients/fides-js/src/components/tcf/TcfOverlay.tsx
  clients/privacy-center/cypress/e2e/consent-i18n.cy.ts
Due: privacy-center

update migration to configure canada notice with just ca region
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Fix serializing Collections with "after" and "erase_after" -
  src/fides/api/graph/config.py
  src/fides/api/graph/traversal.py
  src/fides/api/service/storage/storage_uploader_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/deprecated_graph_task.py
  src/fides/api/task/graph_task.py
  tests/ops/graph/graph_test_util.py
  tests/ops/task/test_graph_task.py
Due: backend

clean 1
  data/saas/config/adyen_config.yml
Due: none

Update some tests to acommodate new retrieve_data, mask_data signatures, query configs, graph tasks, etc.
  src/fides/api/graph/traversal.py
  src/fides/api/task/create_tasks.py
  src/fides/api/tasks/storage.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/graph/test_graph.py
  tests/ops/service/connectors/test_queryconfig.py
  tests/ops/service/connectors/test_saas_connector.py
  tests/ops/task/test_graph_task.py
  tests/ops/task/test_task_resources.py
Due: backend

update changelog
  CHANGELOG.md
Due: none

Various fixes
  data/saas/config/adyen_config.yml
  data/saas/dataset/adyen_dataset.yml
  src/fides/api/service/saas_request/override_implementations/adyen_request_overrides.py
  tests/fixtures/saas/adyen_fixtures.py
Due: backend

Changes
  data/saas/config/adyen_config.yml
Due: none

Added entry for changelog
  CHANGELOG.md
Due: none

Color change demo
  clients/admin-ui/package.json
  clients/admin-ui/src/features/common/PickerCard.tsx
  clients/admin-ui/src/features/common/dropdown/MultiSelectDropdownList.tsx
  clients/admin-ui/src/features/common/form/inputs.tsx
  clients/admin-ui/src/features/common/nav/v2/MainSideNav.tsx
  clients/admin-ui/src/features/common/table/v2/cells.tsx
  clients/admin-ui/src/features/locations/modal.tsx
  clients/admin-ui/src/features/system/dictionary-form/DictSuggestionInputs.tsx
  clients/admin-ui/src/features/taxonomy/ActionButtons.tsx
  clients/admin-ui/src/pages/management/consent.tsx
  clients/package-lock.json
  fidesui/packages/react-provider/CHANGELOG.md
  fidesui/packages/react-provider/fidesui-react-provider-0.1.1.tgz
  fidesui/packages/react-provider/package-lock.json
  fidesui/packages/react-provider/package.json
  fidesui/packages/react-provider/rollup.config.js
  fidesui/packages/react-provider/src/index.tsx
  fidesui/packages/react-theme/CHANGELOG.md
  fidesui/packages/react-theme/fidesui-react-theme-0.1.1.tgz
  fidesui/packages/react-theme/package-lock.json
  fidesui/packages/react-theme/package.json
  fidesui/packages/react-theme/rollup.config.js
  fidesui/packages/react-theme/src/index.tsx
  fidesui/packages/react/CHANGELOG.md
  fidesui/packages/react/README.md
  fidesui/packages/react/fidesui-react-0.0.24.tgz
  fidesui/packages/react/package-lock.json
  fidesui/packages/react/package.json
  fidesui/packages/react/rollup.config.js
  fidesui/packages/react/src/index.tsx
Due: admin-ui

Updating import
  clients/admin-ui/src/features/common/table/v2/util.ts
Due: admin-ui

Updating more imports
  clients/admin-ui/src/theme/index.ts
  clients/privacy-center/theme/index.ts
Due: admin-ui, privacy-center

First pass of custom identities
  src/fides/api/alembic/migrations/versions/d49a767eb49d_convert_field_name_to_string_type.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/service/connectors/fides/fides_client.py
  src/fides/api/service/connectors/fides_connector.py
  src/fides/api/service/privacy_request/dsr_package/dsr_report_builder.py
  src/fides/data/sample_project/privacy_center/config/config.json
  tests/ops/api/v1/endpoints/test_consent_request_endpoints.py
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
  tests/ops/models/test_privacy_request.py
  tests/ops/schemas/test_identity_schema.py
Due: backend

Address fixing existing tests after restoring dask runner - revert getting identity data off of privacy request.
  src/fides/api/service/privacy_request/request_runner_service.py
  tests/fixtures/mongodb_fixtures.py
  tests/ops/api/v1/endpoints/test_privacy_request_endpoints.py
  tests/ops/service/connectors/test_saas_queryconfig.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

Update tests to reflect changes made
  tests/ops/integration_tests/test_enabled_actions.py
  tests/ops/integration_tests/test_execution.py
  tests/ops/integration_tests/test_manual_task.py
  tests/ops/integration_tests/test_mongo_task.py
  tests/ops/integration_tests/test_sql_task.py
Due: none

Linting pass
  pyproject.toml
  src/fides/api/graph/traversal.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/deprecated_graph_task.py
  src/fides/api/task/graph_runners.py
  src/fides/api/task/graph_task.py
  tests/ops/integration_tests/test_sql_task.py
  tests/ops/service/connectors/test_fides_connector.py
  tests/ops/service/privacy_request/test_request_runner_service.py
Due: backend

POC test_access_runner - runs access request with both DSR 2.0 and DSR 3.0
  src/fides/api/task/graph_runners.py
  tests/conftest.py
  tests/fixtures/application_fixtures.py
  tests/fixtures/integration_fixtures.py
  tests/ops/integration_tests/test_sql_task.py
Due: backend

Repoint tests of contains_field from Node to Collection.
  src/fides/api/graph/graph.py
  tests/ops/graph/test_graph.py
Due: backend

Add initial tests for create_tasks -
  src/fides/api/models/privacy_request.py
  src/fides/api/service/privacy_request/request_runner_service.py
  src/fides/api/task/create_tasks.py
  src/fides/api/task/graph_runners.py
  tests/conftest.py
  tests/ops/integration_tests/test_sql_task.py
  tests/ops/task/test_create_tasks.py
Due: backend

Fixing tests
  .fides/db_dataset.yml
  src/fides/api/api/v1/endpoints/consent_request_endpoints.py
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/service/privacy_request/dsr_package/dsr_report_builder.py
  tests/fixtures/application_fixtures.py
  tests/ops/api/v1/endpoints/test_consent_request_endpoints.py
  tests/ops/api/v1/endpoints/test_drp_endpoints.py
  tests/ops/models/test_privacy_request.py
Due: backend

Fixing migration
  src/fides/api/alembic/migrations/versions/d49a767eb49d_convert_field_name_to_string_type.py
  src/fides/api/util/consent_util.py
Due: backend

update migration to configure canada notice with just ca region (#4762)
  CHANGELOG.md
  src/fides/api/alembic/migrations/versions/14acee6f5459_translation_data.py
Due: backend

Deployed f8a92154a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Formatting cleanup
  src/fides/api/api/v1/endpoints/privacy_request_endpoints.py
  src/fides/api/models/privacy_request.py
  src/fides/api/service/connectors/fides/fides_client.py
Due: backend

Cleanup
  src/fides/api/models/privacy_request.py
  src/fides/api/schemas/redis_cache.py
  src/fides/api/service/connectors/fides_connector.py
  tests/ops/schemas/test_identity_schema.py
Due: backend

Add new field for Trigger Link Label
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslation.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationCreate.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
Due: admin-ui

rename label prop for consistency
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslation.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationCreate.ts
Due: admin-ui

clean up some very minor existing issues
  clients/fides-js/src/components/ConsentButtons.tsx
  clients/fides-js/src/lib/i18n/locales/index.ts
  clients/fides-js/src/lib/tcf/i18n/locales/index.ts
Due: none

Update PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Updating identity caching to support dicts
  src/fides/api/models/privacy_request.py
  tests/ops/models/test_privacy_request.py
Due: backend

files in place
  data/saas/config/openweb_config.yml
  data/saas/dataset/openweb_dataset.yml
  data/saas/icon/openweb.svg
  src/fides/api/service/saas_request/override_implementations/openweb_request_overrides.py
  tests/fixtures/saas/openweb_fixtures.py
  tests/ops/integration_tests/saas/test_openweb_task.py
Due: backend

updates for consistency and best practices
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
Due: admin-ui

Update ConsentButtons.tsx
  clients/fides-js/src/components/ConsentButtons.tsx
Due: none

FE Admin UI update - New field to accept this value (#4761)
  clients/admin-ui/src/features/privacy-experience/PrivacyExperienceTranslationForm.tsx
  clients/admin-ui/src/features/privacy-experience/form/helpers.tsx
  clients/admin-ui/src/features/privacy-experience/preview/helpers.ts
  clients/admin-ui/src/features/privacy-experience/privacy-experience.slice.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslation.ts
  clients/admin-ui/src/types/api/models/ExperienceTranslationCreate.ts
  clients/fides-js/src/lib/i18n/locales/index.ts
  clients/fides-js/src/lib/tcf/i18n/locales/index.ts
Due: admin-ui

Deployed 3ff188bfd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/api/openapi.json
  dev/config/fides.toml
  dev/config/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
